<div class="modal-header">
    <h5 class="modal-title">UcoIP</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="cerrarModal()"></button>
</div>
<div class="modal-body">
  <!-- {{isLoad}} -->

  <div class="d-flex justify-content-center" *ngIf="isLoad">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>


  <div class="row" *ngIf="!isLoad">

      <!-- BOTONES DE NAVEGACIÓN -->
      <div class="col-12 mb-3">
          <div class="d-flex justify-content-center gap-2 flex-wrap">
              <button
                  class="btn btn-sm"
                  [ngClass]="tabActiva === 'general' ? 'btn-secondary' : 'btn-outline-secondary'"
                  (click)="tabActiva = 'general'">
                  Información General
              </button>

              <ng-container *ngIf="ucoip">
                <button
                  class="btn btn-sm"
                  [ngClass]="tabActiva === 'activos' ? 'btn-secondary' : 'btn-outline-secondary'"
                  (click)="tabActiva = 'activos'">
                  Activos
              </button>

              <button
                  class="btn btn-sm"
                  [ngClass]="tabActiva === 'sistemas' ? 'btn-secondary' : 'btn-outline-secondary'"
                  (click)="tabActiva = 'sistemas'">
                  Sistemas
              </button>

              <button
                  class="btn btn-sm"
                  [ngClass]="tabActiva === 'infraestructura' ? 'btn-secondary' : 'btn-outline-secondary'"
                  (click)="tabActiva = 'infraestructura'">
                  Network
              </button>

              <button
                  class="btn btn-sm"
                  [ngClass]="tabActiva === 'licencias' ? 'btn-secondary' : 'btn-outline-secondary'"
                  (click)="tabActiva = 'licencias'">
                  Licenciamientos
              </button> 
              
              <button
                  class="btn btn-sm"
                  [ngClass]="tabActiva === 'tokens' ? 'btn-secondary' : 'btn-outline-secondary'"
                  (click)="tabActiva = 'tokens'">
                  Tokens
              </button> 

              </ng-container>



          </div>
      </div>

      <!-- TAB INFORMACIÓN GENERAL -->
      <div class="col-12" *ngIf="tabActiva === 'general'">
          <app-card-info-ucoip
              [data]="data"
              [ucoip]="ucoip"
              [catalogo] ="catalogo"
              [areas] ="areas"
              (actualizarUcoip)="getDataUcoip()"
              >
          </app-card-info-ucoip>
      </div>

      <!-- TAB ACTIVOS -->
      <ng-container *ngIf="tabActiva === 'activos'">
          <app-list-resguardos
              [data]="resguardos"
              [ucoip]="data"
              [ucoip2]="ucoip"
              (actualizarAsignados)="getResguardos()">
          </app-list-resguardos>
      </ng-container>

      <!-- TAB LICENCIAMIENTOS -->
      <!-- <div class="col-12" *ngIf="tabActiva === 'licencias'">
          <div class="card">
              <div class="card-body">
                  Contenido de licenciamientos
              </div>
          </div>
      </div> -->

      <!-- TAB SISTEMAS -->
      <div class="col-12" *ngIf="tabActiva === 'sistemas'">
          <app-card-sistemas
              [data]="resguardos"
              [ucoip]="ucoip"
              [catSistemas]="catSistemas"
              (actualizarAsignados)="getResguardos()">
          </app-card-sistemas>
      </div>

      <!-- TAB INFRAESTRUCTURA -->
      <div class="col-12" *ngIf="tabActiva === 'infraestructura'">
          <app-card-network
              [data]="resguardos"
              [ucoip]="ucoip"
              [catRecursosRed]="catRecurso"
              (actualizarAsignados)="getResguardos()"
              >
          </app-card-network>
      </div>

      <div class="col-12" *ngIf="tabActiva === 'licencias'">
            <app-card-licenciamientos
              [data]="resguardos"
              [ucoip]="ucoip"
              ></app-card-licenciamientos>

      </div>

      <div class="col-12" *ngIf="tabActiva === 'tokens'">
            <app-card-tokens
              [data]="resguardos"
              [ucoip]="ucoip"
              ></app-card-tokens>

      </div>

  </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal" (click)="cerrarModal()" >Cerrar</button>

</div>

  <!-- <div class="col-6" *ngIf="!isLoad">
    <div class="accordion accordion-flush" id="accordionFlushExample" >
      <div class="accordion-item" *ngFor="let item of dataPermisos">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              {{ item }}
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item’s accordion body.</div>
          </div>
        </div>
      </div>
    </div> -->

