<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-body border-bottom">
          <div class="d-flex align-items-center">
            <h5 class="mb-0 card-title flex-grow-1">Proveedores</h5>
            <!-- botones de acciones  -->
            <div class="flex-shrink-0 d-flex gap-1">
              <a
                href="javascript:void(0);"
                class="btn btn-success btn-sm"
                (click)="openModalExpedientes()"
                *ngIf="mostrar"
                ><i class="fas fa-folder-open"></i> Expediente</a
              >
              <a
                href="javascript:void(0);"
                class="btn btn-danger btn-sm"
                (click)="destroy()"
                *ngIf="mostrar"
                ><i class="fas fa-trash"></i> Eliminar</a
              >
              <a
                href="javascript:void(0);"
                class="btn btn-warning btn-sm"
                (click)="openModalActualizar()"
                *ngIf="mostrar"
                ><i class="fas fa-edit"></i> Actualizar</a
              >
              <a
                href="javascript:void(0);"
                class="btn btn-primary btn-sm"
                (click)="openModalNuevo()"
                ><i class="fas fa-plus"></i> Nuevo</a
              >
            </div>
          </div>
        </div>

        <div class="card-body border-bottom">
          <div class="d-flex justify-content-center" *ngIf="isLoad">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
          <div *ngIf="!isLoad" class="row justify-content-end">
            <div class="col-3">
              <input type="text" class="form-control form-control-sm" placeholder="Buscar..." [(ngModel)]="busqueda"  (input)="filtrarTabla()"/>
            </div>
          </div>
          <div >
            <div class="tab-page-content mt-3 table-responsive" style="overflow-y: scroll; height: 20rem;">
              <table
              class="table table-hover table-sm table-bordered table-responsive"
              *ngIf="!isLoad"
            >
              <thead class="table-light" [ngClass] = "modalAbierto === false ? 'sticky-top' : '' ">
                <tr>
                  <th (click)="ordenarPor('nombre')" style="cursor: pointer;" >Nombre <i [ngClass]="getIconoOrden('nombre')"></i></th>
                  <th (click)="ordenarPor('contacto')" style="cursor: pointer;" >Contacto <i [ngClass]="getIconoOrden('contacto')"></i></th>
                  <th (click)="ordenarPor('telefono')" style="cursor: pointer;" >Telefono <i [ngClass]="getIconoOrden('telefono')"></i></th>
                  <th (click)="ordenarPor('localidad')" style="cursor: pointer;" >Localidad <i [ngClass]="getIconoOrden('localidad')"></i></th>
                  <th (click)="ordenarPor('condiciones')" style="cursor: pointer;" >Condiciones <i [ngClass]="getIconoOrden('condiciones')"></i></th>
                </tr>
              </thead>
                <tbody >
                    <tr *ngFor="let item of datosFiltrados" (click)="seleccionar(item, $event)">
                      <td >{{ item.nombre }} </td>
                      <td>{{ item.contacto }}</td>
                      <td>{{ item.telefono }}</td>
                      <td>{{ item.localidad }}</td>
                      <td>{{ item.condiciones }} {{ item.dias_credito }} Dias</td>
                    </tr>
                </tbody>
            </table>
            </div>
          </div>
        </div>
        <!--div.card-body-->
      </div>
    </div>
  </div>
</div>
<!-- container-fluid -->