<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-body border-bottom">
          <div class="d-flex align-items-center">
            <h5 class="mb-0 card-title flex-grow-1">Proveedores</h5>
            <!-- botones de acciones  -->
            <div class="flex-shrink-0 d-flex gap-1">
              <a
                href="javascript:void(0);"
                class="btn btn-success btn-sm"
                (click)="openModalExpedientes()"
                *ngIf="mostrar"
                >Expediente</a
              >
              <a
                href="javascript:void(0);"
                class="btn btn-danger btn-sm"
                (click)="destroy()"
                *ngIf="mostrar"
                >Eliminar</a
              >
              <a
                href="javascript:void(0);"
                class="btn btn-warning btn-sm"
                (click)="openModalActualizar()"
                *ngIf="mostrar"
                >Actualizar</a
              >
              <a
                href="javascript:void(0);"
                class="btn btn-primary btn-sm"
                (click)="openModalNuevo()"
                >Nuevo</a
              >
            </div>
          </div>
        </div>

        <div class="card-body border-bottom">
          <div class="d-flex justify-content-center" *ngIf="isLoad">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>

          <table
            class="table table-hover table-sm table-bordered"
            *ngIf="!isLoad"
          >
            <thead class="table-light">
              <tr>
                <th>Nombre</th>
                <th>Contacto</th>
                <th>Telefono</th>
                <th>Localidad</th>
                <th>Condiciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of data" (click)="seleccionar(item, $event)">
                <td>{{ item.nombre }}</td>
                <td>{{ item.contacto }}</td>
                <td>{{ item.telefono }}</td>
                <td>{{ item.localidad }}</td>
                <td>{{ item.condiciones }} {{ item.dias_credito }} Dias</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!--div.card-body-->
      </div>
    </div>
  </div>
</div>
<!-- container-fluid -->