<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <div class="card shadow-sm">
                <div class="card-body border-bottom border-primary border-2">
                    <div class="d-flex align-items-center">
                        <h5 class="mb-0 card-title flex-grow-1">Tokens</h5>

                        <div class="flex-shrink-0 d-flex gap-1">
                            <a class="btn btn-primary btn-sm">Nuevo</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
