<!-- botones aceptar o rechazar orden -->
 <div class="card border rounded shadow-lg" *ngIf = "isLoad && tienePermiso('view panel auto orden compra') ">
    <div class="card-header bg-primary text-white text-center">
      <strong> Da click en el botón "Aceptar" para marcar la solicitud como aprobada o "Rechazada" para marcarla como rechazada. </strong>
    </div>
    <div class="card-body ">
        <div *ngIf = "isLoad && tienePermiso('view panel auto orden compra') " class="d-flex flex-column flex-md-row justify-content-around align-items-center gap-2">
            <button
            [disabled] = "working"
              class="btn btn-danger px-5"
              (click)="cancelarOrden()"
            >
            <ng-container *ngIf="!working; else spinner">
              Orden de compra <strong> Rechazada </strong>
            </ng-container>
              
            </button>

            <button
            [disabled] = "working"
              class="btn btn-warning px-5"
              (click)="openModalNuevo()"
            >
            <ng-container *ngIf="!working; else spinner">
              <strong> Cambiar de proveedor </strong>
            </ng-container>
              
            </button>

            <button
            [disabled] = "working"
              class="btn btn-success px-5"
              (click)="autorizarOrden()"
            >
            <ng-container *ngIf="!working; else spinner">
                Orden de compra <strong>  Autorizada </strong>
            </ng-container>
              
            </button>
        </div>
    </div>
  </div>

  <ng-template #spinner>
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    <strong> Trabajando... </strong>
</ng-template>
