<!-- botones aceptar o rechazar orden -->
 <div class="card border" *ngIf = "isLoad && tienePermiso('view panel auto orden compra') ">
    <div class="card-header bg-primary text-white text-center">
      <strong> Da click en el botón "Aceptar" para marcar la solicitud como aprobada o "Rechazada" para marcarla como rechazada. </strong>
    </div>
    <div class="card-body ">
      <div *ngIf = "isLoad && tienePermiso('view panel auto orden compra') " class="row justify-content-around">
    <button
      class="btn btn-danger col-md-5"
      (click)="cancelarOrden()"
    >
      Orden de compra <strong> Rechazada </strong>
    </button>
    <button
      class="btn btn-success col-md-5"
      (click)="autorizarOrden()"
    >
      Orden de compra <strong>  Autorizada </strong>
    </button>
</div>
    </div>
 </div>
