<div class="row">
  <div class="col-12">
      <div class="page-title-box d-flex align-items-center justify-content-between">
          <h4 class="mb-0 font-size-18"></h4>
          <div class="page-title-right ">
              <ol class="breadcrumb m-0 ">
                  <ng-container>
                      <li class="breadcrumb-item"><a href="javascript: void(0);">Captura</a>
                      </li>
                      <li class="breadcrumb-item active">Gaseras </li>
                  </ng-container>
              </ol>
          </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="card ">
    <div class="card-header text-bg-primary row">
      <div class="col-6 pt-1">
        <h4>Captura Mensual </h4>
      </div>
      <div class="col-6 pt-1">
        <h5 class="text-end">Gaseras</h5>
      </div>
    </div>
    <div class="card-body ">

        <div class="row">
          <div class="col-4">
            <label class="form-label">Mes:</label>
            <select class="form-control form-control-sm" (change)="onSelectedMes($event.target.value)">
              <option value="" default>Selecciona un mes</option>
              <option value="{{mes.mes}}" *ngFor="let mes of meses">{{mes.nombre}}</option>
            </select>
          </div>
          <div class="col-4">
            <label class="form-label">Año:</label>
            <select #anios class="form-control form-control-sm" (change)="onSelectedAnio(anios.value)">
              <option value="" default>Selecciona un año</option>
              <option value="2022">2022</option>
              <option value="2023">2023</option>
              <option value="2024">2024</option>
            </select>
          </div>
          <div class="col-3 mt-4">
            <button
              type="submit"
              class="btn btn-info btn-sm me-1"
              (click)="getInfoMes()"
              [disabled]="isDisabled"
            >
              <div *ngIf="!isDisabled">
                <i class='bx bx-search-alt-2'></i> Consultar
              </div>

              <div *ngIf="isDisabled">
                <div class="spinner-grow spinner-grow-sm" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
                Buscando
              </div>
            </button>
            <button type="submit" class="btn btn-primary btn-sm" *ngIf="mostrar" [disabled]="!formDatosEnergeticos.valid" (click)="saveInfo()" >Guardar</button>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="table-responsive" *ngIf="mostrar">
            <form [formGroup]="formDatosEnergeticos" >
              <table class="table table-sm table-striped">
                <thead class="table-light">
                  <tr>
                    <th>Planta</th>
                    <th>Venta Litros</th>
                    <th>Ventas</th>
                    <th>Eficiencia</th>
                    <th>Gasto</th>
                    <th>UB</th>
                    <th>UBO</th>
                    <th>Acumulado Personal</th>
                    <th>UNO</th>
                  </tr>
                </thead>
                <tbody>

                  <tr *ngFor="let item of dataEmpresas; index as i">
                    <td>{{item.nombre}}</td>
                    <td>
                      <input
                        type="text"
                        class="form-control form-control-sm text-end !ng-invalid"
                        mask="separator"
                        thousandSeparator=","
                        formControlName="venta_litros_{{item.id}}"
                      >
                    </td>
                    <td><input type="text" class="form-control form-control-sm text-end" mask="separator" thousandSeparator="," formControlName="ventas_{{item.id}}"></td>
                    <td><input type="text" class="form-control form-control-sm text-end" mask="separator" thousandSeparator="," formControlName="eficiencia_{{item.id}}"></td>
                    <td><input type="text" class="form-control form-control-sm text-end" mask="separator" thousandSeparator="," formControlName="gasto_{{item.id}}"></td>
                    <td><input type="text" class="form-control form-control-sm text-end" mask="separator" thousandSeparator="," formControlName="utilidad_bruta_{{item.id}}"></td>
                    <td><input type="text" class="form-control form-control-sm text-end" mask="separator" thousandSeparator="," formControlName="ubo_{{item.id}}"></td>
                    <td><input type="text" class="form-control form-control-sm text-end" mask="separator" thousandSeparator="," formControlName="personal_{{item.id}}"></td>
                    <td><input type="text" class="form-control form-control-sm text-end" mask="separator" thousandSeparator="," formControlName="uno_{{item.id}}"></td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <th>Totales</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                </tfoot>
              </table>
            </form>
          </div>
        </div>

    </div>
  </div>
</div>
