<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-body border-bottom">
          <div class="d-flex align-items-center">
            <h5 class="mb-0 card-title flex-grow-1">Solicitudes de Compra</h5>
            <div class="flex-shrink-0 d-flex gap-1">
              <a
                *ngIf="status >= 3"
                href="javascript:void(0);"
                class="btn btn-sm btn-primary"
                (click)="btnDescargarOC()"
              >
              <i class="fas fa-file-download"></i> 
              Descargar Orden de Compra
              </a>
              <a
                *ngIf="status === 2  && mostrarBoton"
                href="javascript:void(0);"
                class="btn btn-primary btn-sm"
                (click)="btnGenerarOC()"
                >Generar Orden de Compra</a
              >
              <a
                *ngIf="!solicitudSelecionada"
                href="javascript:void(0);"
                class="btn btn-primary btn-sm"
                (click)="openModalNuevo()"
                >
                <i class="fas fa-plus"></i>
                 Nuevo
                </a
              >
              <a
                *ngIf="solicitudSelecionada"
                href="javascript:void(0);"
                class="btn btn-dark btn-sm"
                (click)="regresar()"
                >Volver</a
              >
              <a
                *ngIf="status === 1 && !comprasService.mostrarCotizacionSource.value"
                href="javascript:void(0);"
                class="btn btn-info btn-sm"
                (click)="mostrarCotizacion()"
                >Cotizar</a
              >
              <a
                *ngIf="status >= 2 && status != 5 && status != 8 &&
                  !comprasService.mostrarCotizacionSource.value"
                href="javascript:void(0);"
                class="btn btn-danger btn-sm"
                (click)="cancelarSolicitud()"
                >Cancelar</a
              >
            </div>
          </div>
        </div>

        <div *ngIf="!solicitudSelecionada" class="card-body border-bottom">
          

            <div class="d-flex justify-content-center" *ngIf="isLoad">
              <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
            <div>

              <div *ngIf="!isLoad" class="row justify-content-end">
                <div class="col-3">
                  <input type="text" class="form-control form-control-sm" placeholder="Buscar..." [(ngModel)]="busqueda"  (input)="filtrarTabla()"/>
                </div>
              </div>
              <div class="table-responsive" style="overflow-y: auto; height: 20rem;">
              <div class="tab-page-content mt-3 table-responsive">
                <table
                  *ngIf="!isLoad && datosFiltrados.length > 0; else elseBlock"
                  class="table table-striped table-hover table-sm table-bordered"
                >
                  <thead class="table-light">
                    <tr >
                      <th (click)="ordenarPor('folio')" style="cursor: pointer;">Folio <i [ngClass]="getIconoOrden('folio')"></i></th>
                      <th (click)="ordenarPor('empresa')" style="cursor: pointer;">Empresa <i [ngClass]="getIconoOrden('empresa')"></i></th>
                      <th (click)="ordenarPor('usuario_solicita')" style="cursor: pointer;">Solicita <i [ngClass]="getIconoOrden('usuario_solicita')"></i></th>
                      <th (click)="ordenarPor('usuario_destino')" style="cursor: pointer;">Usuario Destino <i [ngClass]="getIconoOrden('usuario_destino')"></i> </th>
                      <th (click)="ordenarPor('fecha')" style="cursor: pointer;">Fecha Solicitud <i [ngClass]="getIconoOrden('fecha')"></i></th>
                      <th (click)="ordenarPor('estado')" class="text-center" style="cursor: pointer;">Estatus <i [ngClass]="getIconoOrden('estado')"></i></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let item of datosFiltrados"
                      (dblclick)="openDetallesSolicitud(item, $event)"
                    >
                      <td>{{ item.folio }}</td>
                      <td>{{ item.empresa || 'CAS'}}</td>
                      <td>{{ item.usuario_solicita}}</td>
                      <td>{{ item.usuario_destino}}</td>
                      <td>{{ item.fecha | date:'dd/MM/yyyy h:mm a' }}</td>
                      <td>
                        <div class="text-center">
                          <span
                            [ngClass]="'badge rounded-pill font-size-11 ' + item.claseEstado">
                            {{ item.estado }}
                          </span>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <app-detalle-solicitudes-compras
          [solicitudCompra]="solicitudCompra"
          [status]="status"
          *ngIf="solicitudSelecionada"
          (udtStatus)="updateStatus($event)" 
        ></app-detalle-solicitudes-compras>
  
      </div>
    </div>
  </div>
</div>
<ng-template #elseBlock>
  <div class="text-center text-muted">
    <Strong>No hay solicitudes para mostrar...</Strong>

  </div>
  
</ng-template>
<!-- container-fluid -->
