<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-body border-bottom">
          <div class="d-flex align-items-center">
            <h5 class="mb-0 card-title flex-grow-1">Solicitudes de Compra</h5>
            <div class="flex-shrink-0 d-flex gap-1">

              <app-botnes-admin
              [status] = "status"
              [mostrarBoton] = "mostrarBoton"
              [solicitudSelecionada] = "solicitudSelecionada"
              (btnGenerarOC)="btnGenerarOC()"
              (mostrarCotizacion)="mostrarCotizacion()"
              (cancelarSolicitud)="cancelarSolicitud()"
              ></app-botnes-admin>

              <app-bontones-generales
              [status] = "status"
              [mostrarBoton] = "mostrarBoton"
              [solicitudSelecionada] = "solicitudSelecionada"
              (btnDescargarOC)="btnDescargarOC()"
              (regresar)="regresar()"
              (openModalNuevo)="openModalNuevo()"
              ></app-bontones-generales>
              
            </div>
          </div>
        </div>

        <div *ngIf="!solicitudSelecionada" class="card-body border-bottom">
          <div class="d-flex justify-content-center" *ngIf="isLoad">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
          <div>
            <div *ngIf="!isLoad" class="row" [ngClass]="'justify-content-between'">
          
              <div class="col-3">
                <label *ngIf="usuarioSolicita?.multiselect === true" for="empresa" class="form-label form-label-sm">Empresa: *</label>
                <select *ngIf="usuarioSolicita?.multiselect === true && !modifica" class="form-select form-select-sm"
                  aria-label="Default select example" id="empresa" name="empresa" aria-label="empresa"
                  (change)="getAll($event.target.value)">
                  <option value="" selected disabled>Selecciona uno</option>
                  <option *ngIf="isLoading" value="" [disabled]="isLoading">
                    Cargando opciones espera...
                  </option>
                  <option *ngFor="let item of empresas" [value]="item.intercompania">
                    {{ item.name.toUpperCase() }}
                  </option>
                </select>
              
                <select *ngIf="usuarioSolicita?.multiselect === true && modifica" class="form-select form-select-sm"
                  aria-label="Default select example" id="empresa" name="empresa" aria-label="empresa"
                  [(ngModel)]="busqueda2"
                  (change)="filtrarTabla2()"
                  >
                  <option value="" selected>Todas</option>
                  <option *ngIf="isLoading" value="" [disabled]="isLoading">
                    Cargando opciones espera...
                  </option>
                  <option *ngFor="let item of rawEmpresas" [value]="item.name">
                    {{ item.name.toUpperCase() }}
                  </option>
                </select>
              </div>
              <div class="col-3 pt-4">
                <input type="text" class="form-control form-control-sm" placeholder="Buscar..." [(ngModel)]="busqueda"
                  (input)="filtrarTabla()" />
              </div>
            </div>
            <div class="table-responsive">
              <div class="tab-page-content mt-3 table-responsive" style="overflow-y: auto; height: 20rem">
                <table *ngIf="!isLoad && datosFiltrados.length > 0; else elseBlock"
                  class="table table-striped table-hover table-sm table-bordered">
                  <thead class="table-light" [ngClass]="modalAbierto === false ? 'sticky-top' : '' ">
                    <tr>
                      <th (click)="ordenarPor('folio')" style="cursor: pointer">
                        Folio <i [ngClass]="getIconoOrden('folio')"></i>
                      </th>
                      <th (click)="ordenarPor('folio_oc')" style="cursor: pointer">
                        Folio OC <i [ngClass]="getIconoOrden('folio_oc')"></i>
                      </th>
                      <th (click)="ordenarPor('empresa')" style="cursor: pointer">
                        Empresa <i [ngClass]="getIconoOrden('empresa')"></i>
                      </th>
                      <th (click)="ordenarPor('usuario_solicita')" style="cursor: pointer">
                        Solicita
                        <i [ngClass]="getIconoOrden('usuario_solicita')"></i>
                      </th>
                      <th (click)="ordenarPor('usuario_destino')" style="cursor: pointer">
                        Destino
                        <i [ngClass]="getIconoOrden('usuario_destino')"></i>
                      </th>
                      <th (click)="ordenarPor('fecha')" style="cursor: pointer">
                        Fecha Solicitud
                        <i [ngClass]="getIconoOrden('fecha')"></i>
                      </th>
                      <th (click)="ordenarPor('proveedor')" style="cursor: pointer">
                        Proveedor
                        <i [ngClass]="getIconoOrden('proveedor')"></i>
                      </th>
                      <th (click)="ordenarPor('total_orden')" style="cursor: pointer">
                        Total
                        <i [ngClass]="getIconoOrden('total_orden')"></i>
                      </th>
                      <th (click)="ordenarPor('estado')" class="text-center" style="cursor: pointer">
                        Estatus <i [ngClass]="getIconoOrden('estado')"></i>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of datosFiltrados" (dblclick)="openDetallesSolicitud(item, $event)">
                      <td class="d-flex justify-content-between">{{ item.folio }} <i class="fas fa-info-circle" style="cursor: pointer" (click) = "openModalSeguimiento(item)"></i> </td>
                      <td> <strong> {{ item.folio_oc }} </strong> </td>
                      <td>{{ item.empresa || "CAS" }}</td>
                      <td>{{ item.usuario_solicita }}</td>
                      <td *ngIf="item.c_c === 0">{{ item.usuario_destino }}</td>
                      <td *ngIf="item.c_c > 0">{{ item.centro_costo }}</td>
                      <td>{{ item.fecha | date : "dd/MM/yyyy h:mm a" }}</td>
                      <td>{{ item.proveedor }}</td>
                      <td> <strong> {{ item.total_orden | currency }} </strong></td>
                      <td>
                        <div class="text-center">
                          <span [ngClass]="'badge rounded-pill font-size-11 ' + item.claseEstado">
                            {{ item.estado }}
                          </span>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <app-detalle-solicitudes-compras
          [solicitudCompra]="solicitudCompra"
          [status]="status"
          *ngIf="solicitudSelecionada"
          (udtStatus)="updateStatus($event)"
          [modifica]="modifica"
        ></app-detalle-solicitudes-compras>
      </div>
    </div>
  </div>
</div>
<ng-template #elseBlock>
  <div class="text-center text-muted">
    <Strong>No hay solicitudes para mostrar...</Strong>
  </div>
</ng-template>
<!-- container-fluid -->
<ng-template #nombreEmpresa>
  <p>
    <strong>{{ usuarioSolicita?.empresa }} </strong>
  </p>
</ng-template>