<form>
    <div class="row">
        <div class="col-md-6">
        <label for="nombre" class="form-label">Marca Tanque: *</label>
        <input
            type="text"
            class="form-control form-control-sm"
            id="nombre"
            name="nombre"
            aria-label="Nombre"
        />
        </div>
        <div class="col-md-6">
        <label for="nombre" class="form-label">Año de fabricación: *</label>
        <input
            type="text"
            class="form-control form-control-sm"
            id="nombre"
            name="nombre"
            aria-label="Nombre"
        />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
        <label for="nombre" class="form-label">No. Serie</label>
        <input
            type="text"
            class="form-control form-control-sm"
            id="nombre"
            name="nombre"
            aria-label="Nombre"
        />
        </div>
        <div class="col-md-6">
        <label for="nombre" class="form-label">Capacidad: *</label>
        <input
            type="text"
            class="form-control form-control-sm"
            id="nombre"
            name="nombre"
            aria-label="Nombre"
        />
        </div>
    </div>
        <div class="row">
        <div class="col-md-6">
        <label for="nombre" class="form-label">Tipo Medidor: *</label>
        <input
            type="text"
            class="form-control form-control-sm"
            id="nombre"
            name="nombre"
            aria-label="Nombre"
        />
        </div>
    </div>
</form>
