<div class="card border">
  <div class="card-header bg-primary-subtle text-center">
    Seleccione los proveedores con los que se realizara la cotización.
  </div>

  <div class="card-body"> 
    <form class="row g-2" [formGroup]="formProveedoresCotizacion">
    <div class="col-md-4">
      <label for="proveedor1" class="form-label form-label-sm">Proveedor 1: *</label>
      <select
        class="form-select form-select-sm" formControlName="proveedor1" id="proveedor1" aria-label="Default select example">
        <option value="" selected disabled> Selecciona una opción</option>
        <option *ngFor="let item of proveedores" [value]="item?.id">
          {{ item?.nombre }}
        </option>
      </select>
      <div *ngIf="solicitudCotizacionFormControl.proveedor1.touched || submitted">
        <div
          class="text-danger form-text" *ngIf="solicitudCotizacionFormControl.proveedor1.errors?.['required']">
          Selecciona un proveedor
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <label for="proveedor2" class="form-label form-label-sm"> Proveedor 2: *</label>
      <select class="form-select form-select-sm" formControlName="proveedor2" id="proveedor2" aria-label="Default select example">
        <option value="" selected disabled> Selecciona una opción</option>
        <option *ngFor="let item of proveedores" [value]="item?.id">
          {{ item?.nombre }}
        </option>
      </select>
      <div *ngIf="solicitudCotizacionFormControl.proveedor2.touched || submitted">
        <div class="text-danger form-text" *ngIf="solicitudCotizacionFormControl.proveedor2.errors?.['required']">
          Selecciona un proveedor
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <label for="proveedor3" class="form-label form-label-sm">Proveedor 3: *</label>
      <select class="form-select form-select-sm" formControlName="proveedor3" id="proveedor3" aria-label="Default select example">
        <option value="" selected disabled> Selecciona una opción</option>
        <option *ngFor="let item of proveedores" [value]="item?.id">
          {{ item?.nombre }}
        </option>
      </select>
      <div *ngIf="solicitudCotizacionFormControl.proveedor3.touched || submitted">
        <div class="text-danger form-text" *ngIf="solicitudCotizacionFormControl.proveedor3.errors?.['required']">
          Selecciona un proveedor
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <label for="consideraciones" class="form-label">Consideraciones: </label>
      <textarea 
       class="form-control" formControlName="consideraciones"
        id="consideraciones" rows="3"></textarea>
      <!-- <p [class]="caracteresRestantes === 0 ? 'text-danger form-text' : 'form-text'">
        {{ longitudMaxima }}/{{ caracteresRestantes }}
      </p> -->
      <div *ngIf="solicitudCotizacionFormControl.consideraciones.touched || submitted">
        <div class="text-danger form-text" *ngIf="solicitudCotizacionFormControl.consideraciones.errors?.['required']">
          Consideraciones es requerido.
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <button
        class="btn btn-sm btn-primary" type="button" (click)="enviarSolicitudCotizacion()" [disabled]="isDisabled" >
        <span>
          {{ isDisabled ? 'Trabajando' : 'Solicitar Cotización' }}
        </span>
        <span *ngIf="isDisabled" class="spinner-grow spinner-grow-sm ms-2" role="status" aria-hidden="true"></span>
        <span class="visually-hidden" *ngIf="isDisabled">
          Cargando…
        </span>
      </button>
    </div>
  </form>
  </div>

</div>

