<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">
    Nueva Requisición de Compra
  </h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal" (click)="cerrarModal()"></button>
</div>
<div class="modal-body">
  <app-form-solicitud
  #formSolicitud
  [submitted]="submitted"
  (closeModal)="cerrarModal()"
  ></app-form-solicitud>

  <app-form-detalle-solicitud
  #formDetalleSolicitud
  ></app-form-detalle-solicitud>
  
</div>
<div class="modal-footer">
  <button
   [disabled]="sending"
    type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal" (click)="cerrarModal()"
  >
    Cerrar
  </button>
  <button 
  [disabled]="sending"
  type="button" class="btn btn-primary btn-sm" (click)="save()">
  <i class="bx bxs-send " [ngClass]="{ 'bx-fade-right': sending }" ></i>
    {{ sending ? 'Guardando' :'Guardar'}}
  </button>
</div>

<ng-template #elseBlock ><i class="fas far fa-eye-slash"></i> Sin imagen</ng-template>

<ng-template #nombreEmpresa>
  <p> <strong>{{ usuarioSolicita.empresa }} </strong> </p>
</ng-template>
