<div class="modal-header">
  <h5 class="modal-title">
    {{ data ? 'Editar Toma de Unidad' : 'Nueva Toma de Unidad' }}
  </h5>
  <button type="button" class="btn-close" (click)="cerrarModal()"></button>
</div>

<div class="modal-body">
  <app-select-agencia-vendedor #formSelectAgencia [empresaActiva]="empresaActiva"></app-select-agencia-vendedor>
  <app-toma-unidad-form #formFinancimiento [vendedores]="vendedores" [tipoFinanciamiento]="'nrfinance'"></app-toma-unidad-form>

</div>

<div class="modal-footer">

   <button class="btn btn-secondary btn-sm" (click)="cerrarModal()">
    Cancelar
  </button>

  <button class="btn btn-warning btn-sm"
          [disabled]="loading"
          (click)="guardar()">

    <span *ngIf="!loading">Guardar</span>
    <span *ngIf="loading" class="spinner-border spinner-border-sm"></span>

  </button>

</div>

