<div class="card" [routerLink]="[ '../',tipo, concepto ]">
  <div class="card-body">
    <h5 class="text-muted mb-0">
      <i class="mdi mdi-cash h2 text-warning align-middle mb-0 me-1"></i>
      {{title}}
    </h5>
    <div class="row text-center">
      <div class="col-6">
        <p class="text-muted mb-2">Este Mes:</p>
        <h3 class="mb-0">$ {{totalMes || 0 | number}}</h3>
        <p>Total</p>
        <p class="text-muted mb-2">Intereses</p>
        <h5 class="mb-0">
          <span class="font-size-14 text-muted"></span>
          $ {{interesMes || 0 | number}}
        </h5>
      </div>
      <div class="col-6 border-left">
        <p class="text-muted mb-2">El mes pasado:</p>
        <h3 class="mb-0">$ {{totalMesAnt || 0 | number}}</h3>
        <p>Total</p>
        <p class="text-muted mb-2">Intereses</p>
        <h5 class="mb-0">
          <span class="font-size-14 text-muted"></span>
          $ {{interesMesAnt || 0 | number}}
        </h5>
      </div>
    </div>
  </div>
  <div class="card-body border-top py-2 text-center">
    <ng-container *ngIf="difTotal > 0; else elseTemplate">
      <p class="mb-0">
        <span class="badge badge-soft-success me-1"><i
            class="bx bx-trending-up align-bottom me-1"
          ></i>
          + {{difTotal || 0 | number}}</span
        >
        En comparación con el mes anterior
      </p>
  </ng-container>
  <ng-template #elseTemplate>
    <p class="mb-0">
      <span class="badge badge-soft-danger me-1"><i
          class="bx bx-trending-down align-bottom me-1"
        ></i>
        {{difTotal || 0 | number}}</span
      >
      En comparación con el mes anterior
    </p>
  </ng-template>
    
</div>
</div>
