<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-body border-bottom">
          <div class="d-flex align-items-center">
            <h5 class="mb-0 card-title flex-grow-1">
              Catalogo de Unidades de Medidas
            </h5>
            <div class="flex-shrink-0 d-flex gap-1">
              <a
                href="javascript:void(0);"
                class="btn btn-danger btn-sm"
                (click)="destroy()"
                *ngIf="mostrar"
                >Eliminar</a
              >
              <a
                href="javascript:void(0);"
                class="btn btn-warning btn-sm"
                (click)="openModalActualizar()"
                *ngIf="mostrar"
                >Actualizar</a
              >
              <a
                href="javascript:void(0);"
                class="btn btn-primary btn-sm"
                (click)="openModalNuevo()"
                >Nuevo</a
              >
            </div>
          </div>
        </div>

        <div class="card-body border-bottom">
          <div class="d-flex justify-content-center" *ngIf="isLoad">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>

          <table *ngIf="!isLoad" class="table table-hover table-sm table-bordered">
            <thead class="table-light">
              <tr>
                <th>Unidad de Medida</th>
                <th>Abreviatura</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of data" (click)="seleccionar(item, $event)">
                <td>{{ item.nombre }}</td>
                <td>{{ item.abreviatura }}</td>
              </tr>
            </tbody>
          </table>

        </div>
        <!--div.card-body-->
      </div>
    </div>
  </div>
</div>
<!-- container-fluid -->