<div class="flex-shrink-0 d-flex gap-1">
    <a 
    *ngIf="!solicitudSelecionada"
    (click) = "clickNuevo()"
    href="javascript:void(0);" class="btn btn-primary btn-sm">
        <i class="fas fa-plus"></i>
         Nuevo
    </a>
    <a
    *ngIf="status >= enEsts.OrdenCompra || status === enEsts.Cancelado" 
    (click) = "clickDescargar()"
    href="javascript:void(0);" class="btn btn-sm btn-primary">
        <i class="fas fa-file-download"></i> 
        Descargar Orden de Compra
    </a>
    <a 
    *ngIf="solicitudSelecionada"
    (click) = "clickRegresar()"
    href="javascript:void(0);" class="btn btn-dark btn-sm">
        <i class="mdi mdi-arrow-left"></i>
         Volver
    </a>
</div>