<!-- form.component.html -->
 <app-card-top
    [title]="'Carga de Reportes de controles volumétricos'">
    </app-card-top>
<div class="card  rounded-4 shadow-sm mt-4">
  <div class="card-header  rounded-4 bg-primary text-white fw-semibold">
    Formulario de carga de JSON de controles volumetricos
  </div>
  <div class="card-body">
    <form [formGroup]="form" class="row g-3">

      <!-- Input File -->
      <div class="col-12">
        <label for="archivo" class="form-label">Archivo JSON</label>
        <input id="archivo" type="file" class="form-control form-control-sm" (change)="onFileChange($event)" />
        <div *ngIf="form.get('archivo')?.invalid && form.get('archivo')?.touched" class="text-danger mt-1">
          El archivo es obligatorio
        </div>
      </div>

      <!-- Select Empresa -->
      <div class="col-12">
        <label for="empresa" class="form-label">Empresa</label>
        <select id="empresa" class="form-select form-select-sm" formControlName="empresa">
          <option value="">Seleccione una empresa</option>
          <option *ngFor="let emp of empresas" [value]="emp.intercompania">{{ emp.name }}</option>
        </select>
        <div *ngIf="form.get('empresa')?.invalid && form.get('empresa')?.touched" class="text-danger mt-1">
          La empresa es obligatoria
        </div>
      </div>

      <!-- Botones -->
      <div class="col-12 d-flex justify-content-end mt-3">
        <button type="button" class="btn btn-success btn-sm" (click)="guardar()" [disabled]="isLoading">
          <ng-container *ngIf="!isLoading; else loading">
            <i class="fas fa-save"></i> Guardar
          </ng-container>
          <ng-template #loading>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Guardando...
          </ng-template>
        </button>
      </div>
    </form>

    <!-- Previsualización JSON -->
    <div *ngIf="jsonPreview" class="mt-4">
      <h5>Contenido del archivo:</h5>
      <!-- <pre class="bg-light p-3 border rounded">{{ jsonPreview | json }}</pre> -->
      <app-visor-reporte-volumenes [dataJson]="jsonPreview"></app-visor-reporte-volumenes>
    </div>

  </div>
</div>
