
<div class="card" *ngIf="!isLoad">
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <table  class="table table-sm table-striped-columns">
                    <thead>
                        <tr >
                            <th scope="col">Empresa</th>
                            <th scope="col" class="text-center">Mes Anterior</th>
                            <th scope="col" class="text-center">Mes Actual</th>
                            <th scope="col" class="text-center">Mes Año Anterior</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <tr *ngFor="let item of dataEnergeticos.mes; let i = index;" >
                            <td>{{ dataEnergeticos.mes[i]['entidad'] || dataEnergeticos.mesAnt[i]['entidad'] || dataEnergeticos.anioAnt[i]['entidad'] }}</td>
                            <td  *ngIf="dataEnergeticos.mesAnt.length > 1; else celdaVacia"  class="text-end" [ngClass]="{'text-danger': dataEnergeticos.mesAnt[i][concepto] < 0 }">{{ dataEnergeticos.mesAnt[i][concepto] || 0 | number }}</td>
                            <td  *ngIf="dataEnergeticos.mes.length > 1; else celdaVacia" class="text-end" [ngClass]="{'text-danger': dataEnergeticos.mes[i][concepto] < 0 }">{{ dataEnergeticos.mes[i][concepto] || 0 | number }}</td>
                            <td  *ngIf="dataEnergeticos.anioAnt.length > 1; else celdaVacia" class="text-end" [ngClass]="{'text-danger': dataEnergeticos.anioAnt[i][concepto] < 0 }">{{ dataEnergeticos.anioAnt[i][concepto] || 0 | number}}</td>
                            <ng-template #celdaVacia><td class="text-end"> 0 </td></ng-template>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td><b>Total</b></td>
                            <td class="text-end" [ngClass]="{'text-danger': dataTotales[1][0][this.concepto] < 0 }"><b>{{ dataTotales[1][0][this.concepto] || 0 | number }}</b></td>
                            <td class="text-end" [ngClass]="{'text-danger': dataTotales[0][0][this.concepto] < 0 }"><b>{{ dataTotales[0][0][this.concepto] || 0 | number }}</b></td>
                            <td class="text-end" [ngClass]="{'text-danger': dataTotales[2][0][this.concepto] < 0 }"><b>{{ dataTotales[2][0][this.concepto] || 0 | number }}</b></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>