<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">
    Nueva solicitud de compra
  </h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal" (click)="cerrarModal()"></button>
</div>
  <div class="modal-body">
    <app-form-solicitud-macro
    #formSolicitudMacro
    [submitted]="submitted"
    (closeModal)="cerrarModal()"
    >
    </app-form-solicitud-macro>

    <app-form-detalle-solicitud
    #formDetalleSolicitud
    >
    </app-form-detalle-solicitud>
  </div>
<div class="modal-footer">
  <button
  type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal" (click)="cerrarModal()">
    Cerrar
  </button>

  <button type="button" class="btn btn-primary btn-sm" (click)="save()">
    Guardar
  </button>
</div>

