<!-- Order Create Model MODAL NUEVO PROVEEDOR-->
<!-- <ng-template #content role="document" let-modal> -->
<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Nuevo Proveedor</h5>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="modal"
    aria-label="Close"
    id="close-modal"
    (click)="cerrarModal()"
  ></button>
</div>
<div class="modal-body">

  <app-form-datos-proveedor
  #formDatosProveedor
  [estados] = "estados"
  ></app-form-datos-proveedor>
  
  <app-form-proveedor-contactos
  #formProveedorContactos
  ></app-form-proveedor-contactos>

  <app-form-expediente-proveedor
  #formExpedienteProveedor
  ></app-form-expediente-proveedor>

</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-secondary btn-sm"
    data-bs-dismiss="modal"
    (click)="cerrarModal()"
  >
    Cerrar
  </button>
  <button type="button" class="btn btn-primary btn-sm" (click)="save()">
    Guardar
  </button>
</div>
<!-- </ng-template> -->
<!--End Modal -->
