<form [formGroup]="form">
  <div class="row">

    <!-- Cliente -->
    <div class="mb-2">
      <label class="form-label">Cliente</label>
      <input type="text" class="form-control form-control-sm"
             formControlName="razon_social">

      <div class="text-danger small"
           *ngIf="form.get('razon_social')?.touched && form.get('razon_social')?.invalid">
        
        <span *ngIf="form.get('razon_social')?.errors?.['required']">
          El cliente es obligatorio
        </span>

        <span *ngIf="form.get('razon_social')?.errors?.['minlength']">
          Debe tener al menos 3 caracteres
        </span>

      </div>
    </div>

    <!-- Factura -->
    <div class="mb-2 col-lg-4">
      <label class="form-label">Factura</label>
      <input type="text" class="form-control form-control-sm"
             formControlName="no_factura">

      <div class="text-danger small"
           *ngIf="form.get('no_factura')?.touched && form.get('no_factura')?.invalid">

        <span *ngIf="form.get('no_factura')?.errors?.['required']">
          El número de factura es obligatorio
        </span>

        <span *ngIf="form.get('no_factura')?.errors?.['pattern']">
          Formato de factura inválido
        </span>

      </div>
    </div>

    <!-- Fecha -->
    <div class="mb-2 col-lg-4">
      <label class="form-label">Fecha</label>
      <input type="date" class="form-control form-control-sm"
             formControlName="fecha">

      <div class="text-danger small"
           *ngIf="form.get('fecha')?.touched && form.get('fecha')?.invalid">

        <span *ngIf="form.get('fecha')?.errors?.['required']">
          La fecha es obligatoria
        </span>

      </div>
    </div>

    <!-- No. Pedido -->
    <div class="mb-2 col-lg-4">
      <label class="form-label">No. Pedido</label>
      <input type="text" class="form-control form-control-sm"
             formControlName="no_pedido">

      <div class="text-danger small"
           *ngIf="form.get('no_pedido')?.touched && form.get('no_pedido')?.invalid">

        <span *ngIf="form.get('no_pedido')?.errors?.['required']">
          El número de pedido es obligatorio
        </span>

      </div>
    </div>

    <!-- Subtotal -->
    <div class="mb-2 col-lg-3">
      <label class="form-label">Subtotal</label>
      <input class="form-control form-control-sm"
             mask="separator" thousandSeparator=","
             prefix="$ "
             placeholder="Subtotal"
             formControlName="subtotal_factura">

      <div class="text-danger small"
           *ngIf="form.get('subtotal_factura')?.touched && form.get('subtotal_factura')?.invalid">

        <span *ngIf="form.get('subtotal_factura')?.errors?.['required']">
          El subtotal es obligatorio
        </span>

        <span *ngIf="form.get('subtotal_factura')?.errors?.['min']">
          El subtotal debe ser mayor a 0
        </span>

      </div>
    </div>

    <!-- IVA -->
    <div class="mb-2 col-lg-3">
      <label class="form-label">IVA</label>
      <input type="text" class="form-control form-control-sm"
             mask="separator" thousandSeparator=","
             prefix="$ "
             formControlName="iva_factura" readonly>
    </div>

    <!-- Total -->
    <div class="mb-2 col-lg-3">
      <label class="form-label">Total</label>
      <input type="text" class="form-control form-control-sm"
             mask="separator" thousandSeparator=","
             prefix="$ "
             formControlName="total" readonly>
    </div>

    <!-- Comisión APV -->
    <div class="mb-2 col-lg-3">
      <label class="form-label">Comisión APV</label>
      <input type="text" class="form-control form-control-sm"
             mask="separator" thousandSeparator=","
             prefix="$ "
             formControlName="comision_apv_pesos" readonly>
    </div>

    <!-- Observaciones -->
    <div class="mb-2">
      <label class="form-label">Observaciones</label>
      <textarea formControlName="observaciones"
                class="form-control"
                rows="3"></textarea>
    </div>

  </div>
</form>