<div class="card">
  <div class="card-body">
    <div class="col-12 table-responsive">
      <table class="table table-sm table-striped-columns">
        <thead>
          <tr>
            <th scope="col">Area</th>
            <th scope="col" class="text-center">Mes Anterior</th>
            <th scope="col" class="text-center">Mes Actual</th>
            <th scope="col" class="text-center">Mes Año anterior</th>
          </tr>
        </thead>
        <tbody>
          <tr (click)="openModalNuevo(item)" *ngFor="let item of areas">
            <td>{{ formatearTexto(item) }}</td>
            <td>{{mesAnt[0][item] || 0 | number}}</td>
            <td>{{mes[0][item] || 0 | number}}</td>
            <td>{{anioAnt[0][item] || 0 | number}}</td>
            <td>
            <div *ngIf="(mes[0][item]  >  anioAnt[0][item]);else templateName" >
                  <i class='bx bx-up-arrow-alt fs-3 text-success'></i>
                  </div>
                  <ng-template #templateName>
                  <i class='bx bx-down-arrow-alt fs-3 text-danger' ></i>
                  </ng-template>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td><b>Total</b></td>
            <td><b>{{totalMesAnt | number}}</b></td>
            <td><b>{{totalMes | number}}</b></td>
            <td><b>{{totalAnioAnt | number}}</b></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
