  <h5 class="mt-2 mb-0 card-title flex-grow-1">Detalle de la Solicitud</h5>
  <form [formGroup]="formDetalleSolicitud" enctype="multipart/form-data">
    <div class="row align-items-center">
      <div class="col-sm-2 my-1">
        <label class="sr-only" for="inlineFormInputName">cantidad</label>
        <input
          min="1"
          type="number" formControlName="cantidad" id="cantidad" name="cantidad"
          aria-label="cantidad" class="form-control form-control-sm" size="4" placeholder="Cantidad *"/>
        <div
          *ngIf="detalleSolicitudFormControl.cantidad.touched || submittedDetail">
          <div class="text-danger form-text" *ngIf="detalleSolicitudFormControl.cantidad.errors?.['required']">
            Cantidad es requerido.
          </div>
        </div>
      </div>
      <div class="col-sm-2 my-1">
        <select class="form-select form-select-sm" type="text" formControlName="cat_unidades_medida_id" #selectElement 
        (change)="onChange(selectElement)" id="cat_unidades_medida_id" name="cat_unidades_medida_id" aria-label="cat_unidades_medida_id">
          <option value="" selected disabled>Selecciona una unidad *</option>
          <option *ngFor="let item of unidades" value="{{ item.id }}">
            {{ item.nombre }} ({{ item.abreviatura }})
          </option>
        </select>
        <div
          *ngIf="detalleSolicitudFormControl.cat_unidades_medida_id.touched || submittedDetail">
          <div
            class="text-danger form-text" *ngIf="detalleSolicitudFormControl.cat_unidades_medida_id.errors?.['required']">
            Unidad es requerido.
          </div>
        </div>
      </div>
      <div class="col-sm-4 my-1">
        <input type="text" formControlName="descripcion" id="descripcion" name="descripcion" aria-label="descripcion" 
        class="form-control form-control-sm" placeholder="Descripción *"/>
        <div
          *ngIf="detalleSolicitudFormControl.descripcion.touched || submittedDetail">
          <div
            class="text-danger form-text" *ngIf="detalleSolicitudFormControl.descripcion.errors?.['required']">
            Descripción es requerido.
          </div>
          <div class="text-danger form-text" *ngIf="detalleSolicitudFormControl.descripcion.errors?.['maxLength']">
            El texto excede la longitud maxima (100).
          </div>
        </div>
      </div>
      <div class="col-sm-4 my-1">
        <input type="text" formControlName="observaciones" id="observaciones" name="observaciones" aria-label="observaciones" 
        class="form-control form-control-sm"  placeholder="Observaciones"/>
        <div
          *ngIf="detalleSolicitudFormControl.observaciones.touched || submittedDetail">
          <div
            class="text-danger form-text"
            *ngIf="detalleSolicitudFormControl.observaciones.errors?.['required']">
            Observaciones es requerido.
          </div>
          <div
            class="text-danger form-text"
            *ngIf="detalleSolicitudFormControl.observaciones.errors?.['maxLength']">
            El texto excede la longitud maxima (45).
          </div>
        </div>
      </div>

      <div class="col-sm my-1">
        <label for="img_referencia" class="form-label">Referencia fotografica: </label>
        <input type="file" accept=".jpg, .png" id="img_referencia" name="img_referencia" aria-label="img_referencia" class="form-control form-control-sm" 
        (change)="onFileChange($event, 'img_referencia')" formControlName="img_referencia"/>
        <div
          *ngIf=" detalleSolicitudFormControl.img_referencia.touched || submittedDetail">
          <div class="text-danger form-text" *ngIf="detalleSolicitudFormControl.img_referencia.errors?.['required']">
            Imagen de referencia es requerido.
          </div>
        </div>
      </div>
      <div *ngIf = "+destino === 602" class="col-sm my-1">
        <label for="vehiculo" class="form-label"> Autotanque *: </label>
        <select class="form-select form-select-sm" aria-label="Default select example" formControlName="vehiculo" id="vehiculo" 
      name="vehiculo" aria-label="vehiculo">
        <option value="" selected disabled>Selecciona uno</option>
        <!-- <option *ngIf = "!isLoad" value="" [disabled] = "!isLoad"> Cargando opciones espera...</option> -->
        <option [disabled] = "disabled" *ngFor="let item of autotanques" [value]="item.id ">
          ECO: {{ item.eco }} {{ item.marca_vehiculo }} {{item.submarca}}({{ item.modelo}}) PLACAS: {{ item.placas }}
        </option>
      </select>
      <div *ngIf="detalleSolicitudFormControl.vehiculo.touched || submittedDetail">
        <div
          class="text-danger form-text">
          Autotanques es requerido.
        </div>
      </div>
      </div>

      <!-- <div *ngIf="isAgencia" class="col-sm-3 my-1">
        <label  class="form-label">Centro de costos: </label>
        <select class="form-select form-select-sm" type="text" formControlName="cat_areas"  
         id="cat_areas" name="cat_areas" aria-label="cat_areas">
          <option value="" selected disabled>Selecciona uno</option>
          <option *ngFor="let centro of centrosCostos" value="{{ centro.Clave }}">
            {{ centro.Descripcion }}
          </option>
        </select>
      </div> -->
      <div class="col-auto mt-4">
        <button type="submit" class="btn btn-primary btn-sm float-end" (click)="addDetalle()"
        >
        <i class="fas fa-plus"></i>
          Agregar
        </button>
      </div>
    </div>
  </form>
  <br />
  <div class="table-responsive">
    <table
    class="table table-striped table-hover table-sm table-bordered"
    id="tableCompraInsumos"
  >
    <thead class="table-light">
      <tr>
        <th class="text-center">Cant.</th>
        <th>U. Medida</th>
        <th>Descripción</th>
        <th>Observaciones</th>
        <th *ngIf = "+destino === 602">Autotanque</th>
        <th>Img. Ref</th>
        <th lass="text-center" title="¿El costo del insumo sera recuperado por el cliente?">Rec</th>
        <th class="text-center" *ngIf="tableData.length > 0" >-</th>  
        <!-- <th *ngIf="isAgencia">C. Costos</th> -->
      </tr>
    </thead>
    <tbody>
      <!-- datos de la tabla detalle -->
      <tr *ngFor="let row of tableData; let i = index">
        <td class="text-center">{{ row.cantidad }}</td>
        <td>{{ row.cat_unidades_medida_id1 }}</td>
        <td>{{ row.descripcion }}</td>
        <td>{{ row.observaciones }}</td>
        <td *ngIf = "+destino === 602"> ECO: {{ row.label }}</td>
        <td class="text-center"><img *ngIf="row.img_referencia1;else elseBlock" src="{{ row.img_referencia1 }}" alt="Sin imagen de referencia" width="100"/></td>
        <!-- <td *ngIf="isAgencia">{{row.cat_areas}}</td> -->
        <td  class="text-center"> <input type="checkbox" title="¿El costo del insumo sera recuperado por el cliente?" class="form-check-input" id="exampleCheck1"> </td> 
        <td class="text-center">
          <button type="button" class="btn btn-danger btn-sm" (click)="removeDetalle(i)">
            <i class="fas fa-minus-circle"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
<ng-template #elseBlock ><i class="fas far fa-eye-slash"></i> Sin imagen</ng-template>