<div *ngIf ="cotProv?.length > 0" class="row">
  <div class="alert alert-warning text-center" role="alert">
    Marca la casilla de la fila con el proveedor seleccionado para generar la
    orden de compra
  </div>
  <div class="col-1" *ngIf="solicitudCompra?.estatus >= enEsts.OrdenCompra"></div>
  <div class="col-10">
    <div class="d-flex justify-content-center" *ngIf="!isLoad">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <!--Tabla documentos cotizaciones-->
    <table
      *ngIf="isLoad"
      class="table  table-hover table-sm table-bordered table-responsive"
    >
      <thead class="table-light" >
        <tr class="text-center">
          <th *ngIf="solicitudCompra?.estatus === enEsts.EnCotizacion">#</th>
          <th>Nombre proveedor</th>
          <th>Archivo cotización</th>
          <th *ngIf="solicitudCompra?.estatus <= 3 ">Autorizado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prov of cotProv; let i = index" class="text-center">
          <td [ngClass] = "prov?.ruta ? 'bg-secondary-subtle bg-opacity-75' : '' "
          *ngIf="solicitudCompra?.estatus === enEsts.EnCotizacion">
            <div class="col align-self-center">
              <input
                *ngIf="prov?.ruta"
                (change)="manejoCheck(prov)"
                name="radioProveedor"
                class="form-check-input form-radio-success "
                type="radio"
              />
            </div>
          </td>
          <td>
            {{ prov?.proveedores_id[0].nombre }}
            <i
              *ngIf="prov?.seleccionado === 1"
              class="fas fa-check-circle"
              style="color: green"
            >
              (Seleccionado)
            </i>
          </td>
          <td>
            <div>
              <input
                *ngIf="!prov?.ruta"
                accept="application/pdf"
                (change)="onFileChange($event, prov?.id)"
                class="form-control form-control-sm"
                id="prov?.id"
                name="prov?.id"
                type="file"
              />
              <a
                class="btn btn-sm btn-danger"
                *ngIf="prov?.ruta"
                (click)="verArchivos(prov?.ruta)"
              >
                <i class="fas fa-file-pdf"></i>

              </a>
            </div>
          </td>
          <td *ngIf="solicitudCompra?.estatus <= 3 && prov?.autorizado != 0;">
              <div class="text-success">
                <i class="fas fa-check"></i>
              </div>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- form Observaciones -->
    <form class="row g-2" [formGroup]="formOrdenCompra">
      <div class="col-12" *ngIf="mostrarObs">
        <div class="col-md-12">
          <label for="entrega" class="form-label">Se entrega en: *</label>
          <select
            (change)="setValuesForm()"
            class="form-select form-select-sm"
            aria-label="Default select example"
            formControlName="entrega"
          >
            <option selected disabled value="">Selecciona uno</option>
            <option *ngIf="isLoading" value="" [disabled]="isLoading">
              Cargando opciones espera...
            </option>
            <option *ngFor="let item of empresas" [value]="item?.intercompania">
              {{ item?.name }}
            </option>
          </select>
          <div
            *ngIf="
              ordenCompraFormControl.entrega.touched ||
              submitted ||
              ordenCompraFormControl.entrega.value === 'Selecciona uno'
            "
          >
            <div
              class="text-danger form-text"
              *ngIf="ordenCompraFormControl.entrega.errors?.['required']"
            >
              Debes de seleccionar una empresa.
            </div>
          </div>

          <label for="observaciones" class="form-label">Observaciones: </label>
          <textarea
            
            class="form-control"
            formControlName="observaciones"
            id="observaciones"
            rows="3"
          ></textarea>
          
          <div
            *ngIf="ordenCompraFormControl.observaciones.touched || submitted"
          >
            <div
              class="text-danger form-text"
              *ngIf="ordenCompraFormControl.observaciones.errors?.['required']"
            >
              Observaciones es requerido.
            </div>
          </div>
        </div>
      </div>
    </form>
    <!-- form observaciones orden de compra -->
    <div *ngIf="solicitudCompra?.estatus >= enEsts.OrdenCompra" class="row">
      <div *ngIf="ordenCompra">
        <p>
          <strong>Observaciones: </strong> {{ ordenCompra?.observaciones ?? ' Sin observaciones '}}
        </p>
        <p> <strong>Se entrega en:</strong> {{ordenCompra?.entrega.EMPRESA ?? ' '}} </p>
        <p> <strong>Ubicada en:</strong> {{ordenCompra?.entrega.DIRECCION ?? ' '}}, {{ordenCompra?.entrega.COLONIA ?? ' '}}, {{ordenCompra?.entrega["CIUDAD/DELEG/ESTADO"] ?? ' '}}, C.P. {{ordenCompra?.entrega["C.P."] ?? ' '}}   </p>
      </div>
    </div>
  </div>

  <div class="col-2 d-flex align-items-start">
    <button
      *ngIf="solicitudCompra?.estatus === enEsts.EnCotizacion && !mostrarObs"
      type="submit"
      class="btn btn-sm btn-success"
      (click)="guardarPrecios()"
    >
      Guardar Cotización
    </button>
  </div>
</div>
<hr />
