<form>
    <div class="row">
        <div class="col-md-6">
        <label for="nombre" class="form-label">Marca Vehiculo: *</label>
        <input
            type="text"
            class="form-control form-control-sm"
            id="nombre"
            name="nombre"
            aria-label="Nombre"
        />
        </div>
        <div class="col-md-6">
        <label for="nombre" class="form-label">Submarca: *</label>
        <input
            type="text"
            class="form-control form-control-sm"
            id="nombre"
            name="nombre"
            aria-label="Nombre"
        />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
        <label for="nombre" class="form-label">Modelo: *</label>
        <input
            type="text"
            class="form-control form-control-sm"
            id="nombre"
            name="nombre"
            aria-label="Nombre"
        />
        </div>
        <div class="col-md-6">
        <label for="nombre" class="form-label">No. Serie: *</label>
        <input
            type="text"
            class="form-control form-control-sm"
            id="nombre"
            name="nombre"
            aria-label="Nombre"
        />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
        <label for="nombre" class="form-label">Placas: *</label>
        <input
            type="text"
            class="form-control form-control-sm"
            id="nombre"
            name="nombre"
            aria-label="Nombre"
        />
        </div>
        <div class="col-md-6">
        <label for="nombre" class="form-label">Uso Vehículo: *</label>
        <input
            type="text"
            class="form-control form-control-sm"
            id="nombre"
            name="nombre"
            aria-label="Nombre"
        />
        </div>
    </div>
    
    
</form>
