<app-loader></app-loader>
<div class="container-fluid">

  <div class="row">
    <div class="col-xl-12">
      <div class="card">

        <div class="card-body border-bottom">
          <div class="d-flex align-items-center">
            <h5 class="mb-0 card-title flex-grow-1">Comisiones</h5>
            <div class="flex-shrink-0 d-flex gap-1">
              <!--a href="javascript:void(0);" class="btn btn-primary btn-sm" >Nuevo</a-->
            </div>
          </div>
        </div>

        <div class="card-body border-bottom table-responsive">
          <div class="row g-3 mb-1">
            <div class="col-auto">
              <label>Agencias</label>
              <select (change)="onSelectedAgencia($event.target.value)" class="form-select form-select-sm " aria-label=".form-select-sm example">
                <option value="0"selected>Selecciona uno</option>
                <option value="1">Universidad</option>
                <option value="2">Insurgentes</option>
                <option value="3">Azcapotzalco</option>
                <option value="3">Campestre</option>
              </select>
            </div>
            <div class="col-auto">
              <label >Fecha inicial</label>
              <input (change)="onSelectInicio($event.target.value)" type="date" class="form-control form-control-sm" [max]="hoy">
            </div>
            <div class="col-auto">
              <label>Fecha Final</label>
              <input (change)="onSelectFin($event.target.value)" type="date" class="form-control form-control-sm" [max]="hoy">
            </div>
            <div *ngIf = "!isLoadig && showTable"class="col-auto">
              <label >Vendedor</label>
              <select class="form-select form-select-sm " aria-label=".form-select-sm example">
                <option selected>Selecciona uno</option>
                <option *ngFor="let item of vendedores" value="+item">{{item}}</option>
              </select>
            </div>
            <div class="col-auto pt-4">
              <button  *ngIf="ready" type="submit" class="btn btn-sm btn-info mb-3" (click)="getAll()"> <i class="fas fa-search"></i> Buscar</button>
            </div>
          </div>        

          <div class="d-flex justify-content-center"  *ngIf = "showTable && isLoadig">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
          <div style="overflow-y: auto; height: 30rem"  *ngIf = "showTable && !isLoadig">
            <form [formGroup]="formDatosGastos" >
            <table *ngIf = "data.length > 0; else mensaje" class="table table-striped table-hover table-sm table-bordered"  >
            <thead class="table-light sticky-top">
              <tr>
                <th>Fecha</th>
                <th>Factura</th>
                <th>Razón Social</th>
                <th>Inventario</th>
                <th>Vendedor</th>
                <th>Descripción</th>
                <th>Serie</th>
                 <!-- Valores calculo Utilidad -->
                <th>Venta</th>
                <th>Costos</th>
                <th class="text-nowrap">Bonificaciones Extra</th>
                <th>Utilidad</th>
                <!-- Valores calculo Utilidad -->
                <th class="text-nowrap">Tipo de Venta</th>
                <th class="text-nowrap">Porcentaje</th>
                <th>Otros</th>
                <th>Gasolina</th>
                <th>Previa</th>
                <th>Descuentos</th>
                <th class="text-nowrap">Descuento IMPULSO</th>
                <th>Traslados</th>
                <th class="text-nowrap">Total subsidios desembolso</th>
                <th class="text-nowrap">Descuento de gastos DA adicional</th>
                <th>Cortesía</th>
                <th>Accesorios</th>
                <th>Placas</th>
                <th class="text-nowrap">Total Gastos</th>
                <th class="text-nowrap">Utilidad final</th>
                <!-- <th class="text-nowrap">Comision BDC</th> -->
                <th class="text-nowrap">Comision APV</th>
                <th colspan="2"> Acciones </th>
                
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of data; let i index">
                    <td class="text-nowrap">{{item.fecha_factura}}</td>
                    <td>{{item.faau_nofactura}}</td>
                    <td class="text-nowrap">{{item.faau_razonfactura}}</td> 
                    <td class="text-nowrap">{{item.vehi_clas_clave}} {{item.vehi_anio}}-{{item.vehi_numeroinventario}}</td>
                    
                    <td>{{item.faau_vend_clave}}</td>
                    <td class="text-nowrap">{{item.mode_descripcion}}</td>
                    <td>{{ item.vehi_serie }}</td>
                    <td>{{item.Venta | number}}</td>
                    <td>{{item.Costo | number}}</td>
                    <td>{{item.bonificacion | number}}</td>
                    <td>{{item.Utilidad | number}}</td>
                    <td>{{item.faau_form_TipoVenta}}</td>
                    <td class="text-end">
                      {{(findPorcentaje(item.faau_form_TipoVenta) * 100) | number:'1.1-1'}}%
                    </td> 
                    <td><input class="form-control form-control-sm text-end" mask="separator" thousandSeparator="," type="text"  [formControlName]="'otros_'+item.faau_nofactura" placeholder="Otros"></td>
                    <td><input class="form-control form-control-sm text-end" mask="separator" thousandSeparator="," type="text"  [formControlName]="'gasolina_'+item.faau_nofactura" placeholder="Gasolina"></td>
                    <td><input class="form-control form-control-sm text-end" mask="separator" thousandSeparator="," type="text"  [formControlName]="'previa_'+item.faau_nofactura" placeholder="Previa"></td>
                    <td><input *ngIf="item.vehi_clas_clave != NU" class="form-control form-control-sm text-end" mask="separator" thousandSeparator="," type="text"  [formControlName]="'descuentos_'+item.faau_nofactura" placeholder="Descuentos"></td>
                    <td><input *ngIf="item.vehi_clas_clave === NU" class="form-control form-control-sm text-end" mask="separator" thousandSeparator="," type="text"  [formControlName]="'descuento_impulso_'+item.faau_nofactura" placeholder="Descuentos IMPULSO"></td>
                    <td><input class="form-control form-control-sm text-end" mask="separator" thousandSeparator="," type="text"  [formControlName]="'traslados_'+item.faau_nofactura" placeholder="Traslados"></td>
                    <td><input class="form-control form-control-sm text-end" mask="separator" thousandSeparator="," type="text"  [formControlName]="'total_subsidios_'+item.faau_nofactura" placeholder="Total subsidios desembolso"></td>
                    <td><input *ngIf="item.vehi_clas_clave != NU" class="form-control form-control-sm text-end" mask="separator" thousandSeparator="," type="text"  [formControlName]="'descuento_gastos_'+item.faau_nofactura" placeholder="Descuento de gastos DA adicional"></td>
                    <td><input *ngIf="item.vehi_clas_clave === NU" class="form-control form-control-sm text-end" mask="separator" thousandSeparator="," type="text"  [formControlName]="'cortesia_'+item.faau_nofactura" placeholder="Cortesía"></td>
                    <td><input *ngIf="item.vehi_clas_clave != NU" class="form-control form-control-sm text-end" mask="separator" thousandSeparator="," type="text"  [formControlName]="'accesorios_'+item.faau_nofactura" placeholder="Accesorios"></td>
                    <td><input *ngIf="item.vehi_clas_clave != NU" class="form-control form-control-sm text-end" mask="separator" thousandSeparator="," type="text"  [formControlName]="'placas_'+item.faau_nofactura" placeholder="Placas"></td>
                    
                     <td class="text-end text-danger fw-bold">
                      {{calcularTotalGastosFila(item.faau_nofactura)  | number: '1.1-2'}}
                    </td> 
                    <td class="text-end text-success fw-bold">
                      {{calcularUtilidadFinal(item) | number: '1.1-2'}}
                    </td>
                    <td class="text-end text-primary fw-bold">
                      {{calcularComisionApv(item) | number: '1.1-2'}}
                    </td>
                    <td class="text-center">
                      <button *ngIf="item.isNew && calcularTotalGastosFila(item.faau_nofactura) > 0 ; else elseBlock"  type="submit" class="btn btn-sm btn-success" (click)="guardarDatos(item)">
                         <i class="fas fa-save"></i>
                      </button>
                      <ng-template #elseBlock>
                         <div class="btn btn-sm btn-secondary">
                        <i class="fas fa-ban"></i>
                      </div>
                        <!-- <button  type="submit" class="btn btn-sm btn-warning" (click)="guardarDatos(item)">
                         <i class="fas fa-save"></i>
                      </button> -->
                      </ng-template>
                    </td>
                    <td class="text-center">
                      <button *ngIf="!item.isNew; else deshabilitado" type="submit" class="btn btn-sm btn-primary" (click)="guardarDatos(item)">
                         <i class="fas fa-file-invoice-dollar"></i>
                      </button>
                      <ng-template #deshabilitado>
                      <div class="btn btn-sm btn-secondary">
                        <i class="fas fa-ban"></i>
                      </div>
                      </ng-template>
                    </td>
                  </tr>
            </tbody>
          </table>
          </form>  
        </div><!--div.card-body-->
        <!-- <app-tabla-pagadas
          *ngIf = "showTable && !isLoadig"
          [showTable] = "showTable"
          [isLoadig] = "isLoadig"
          [data] = "data"
          [porcentajes] = "porcentajes"
          ></app-tabla-pagadas> -->
          </div>
    </div>
    </div>
  </div>

</div> <!-- container-fluid -->
<ng-template #mensaje>
  <div class="text-center text-muted pt-5">
    <Strong>No se encontraron registros para mostrar...</Strong>
    <p>Intenta filtrar por un periodo distinto<br>ó<br>Revisa en el apartado de comisiones pagadas</p>
  </div>
</ng-template>