<app-loader></app-loader>
<div class="container-fluid">

  <div class="row">
    <div class="col-xl-12">

      
      <app-card-top
      [title] = "getVentaAuto() | titlecase"
      ></app-card-top>
      
      <app-filtro
        #formFiltro
        (bindingSpiner)="bindingSpiner($event)"
        (bindingData)="bindingData($event)"
        (bindingEstado)="bindingEstado($event)"
      ></app-filtro>
      
      <div class="card shadow-sm">

        <div class="card-body border-bottom ">
          <app-spiner 
           *ngIf="isLoadig">
          </app-spiner>
          <div class="d-flex justify-content-between align-items-center m-2 gap-2">
            <div class="btn-group">
              <button
                  class="btn btn-sm"
                  [class.btn-primary]="vista === 'pendientes'"
                  [class.btn-outline-primary]="vista !== 'pendientes'"
                  (click)="vista = 'pendientes'; cambiarVista('pendientes')">

                  Pendientes
              </button>

              <button
                  class="btn btn-sm"
                  [class.btn-success]="vista === 'realizados'"
                  [class.btn-outline-success]="vista !== 'realizados'"
                  (click)="vista = 'realizados'; cambiarVista('realizados')">

                  Realizados
                  
              </button>
          </div>
            <div class="col-lg-3">
              <input
                type="text"
                class="form-control form-control-sm"
                placeholder="Buscar..."
                [ngModel]="searchText"
                (ngModelChange)="onSearch($event)"
              />
            </div>
          </div>
          <div class="table-responsive" style="max-height: 26rem; overflow-y: auto;"
           *ngIf="ventas.controls.length > 0 && !isLoadig; else mensaje">
            <form [formGroup]="form">
              <table class="table  table-hover table-sm table-bordered" >
              <thead class="table-light thead-sticky">
                <tr>
                  <th *ngIf="(estado == 1 || estado == 12345) && tienePermiso(permisos.colEntregados)">Entr.</th>
                  <ng-container *ngIf="estado > 1 && tienePermiso(permisos.colBdc)">
                    <th >BDC.</th>
                  </ng-container>
                  <ng-container *ngIf="estado > 1 && tienePermiso(permisos.colVBdc)">
                    <th class="text-nowrap"> <small>V BDC</small> </th> 
                  </ng-container>
                  <th>Fecha</th>
                  <th>Factura</th>
                  <th>Razón Social</th>
                  <th>Inventario</th>
                  <th>Vendedor</th>
                  <th>Descripción</th>
                  <th>Serie</th>
                  <!-- Valores calculo Utilidad -->
                  <th>Venta</th> 
                  <th>Costos</th> 
                  <th class="text-nowrap">Bonif. Extr.</th> 
                  <th>Utilidad</th> 
                  <th class="text-nowrap">T. de Venta</th> 
                  
                  <ng-container *ngIf="estado > 1 && tienePermiso(permisos.colFormGastos)">
                    <th >Otros</th>
                    <th >Cortesía</th>
                    <th >Gasolina</th>
                    <th >Previa</th>
                    <th >Placas</th>
                    <th >Descuentos</th>
                    <th class="text-nowrap">Descuento IMPULSO</th>
                    <th >Traslados</th>
                    <th class="text-nowrap" > <small>Total subsidios desembolso</small></th>
                    <th class="text-nowrap" > <small>Descuento de gastos DA adicional</small></th>
                    <th >Accesorios</th>
                    <!--  Resultados calculados -->
                    <th class="text-nowrap">Total Gastos</th> 
                    <th class="text-nowrap">Uti.D.Gastos</th> 
                    <th  class="text-nowrap bg-dark text-white border border-dark">C.G. APV</th>
                    <th  class="text-nowrap bg-dark text-white border border-dark">C.G. GSN/GV</th>
                    <th  class="text-nowrap bg-dark text-white border border-dark">C.G. BDC</th>
                    <th  class="text-nowrap bg-dark text-white border border-dark">C.G. COR.BDC</th>
                    <th class="text-nowrap"> %. </th> 
                    <th  class="text-nowrap">% BDC</th>
                    <th class="text-nowrap">Comision APV</th>
                    <th class="text-nowrap">Comision BDC</th>
                    <th class="text-nowrap">Utilidad final</th>
                    
                  </ng-container>
                  
                 
                    <ng-container *ngIf="estado > 2 && tienePermiso(permisos.colValidados)">
                        <th *ngIf="estado > 2" class="text-nowrap">Valido</th>
                    </ng-container>
                  
                  <ng-container *ngIf="estado > 1 && tienePermiso(permisos.colAcciones)">
                    <th *ngIf="estado > 1"class="text-nowrap text-center">Acciones</th>
                  </ng-container>
                  
                  <ng-container *ngIf="estado > 4 && tienePermiso(permisos.colPagados)" >
                    <th class="text-nowrap text-center">Pagado</th>
                  </ng-container>
                  
                  <th class="text-nowrap text-center">Estatus</th>
                </tr>
              </thead>
              <tbody formArrayName="ventas">
              <tr [class.table-primary]="filaSeleccionada === i" *ngFor="let i of filteredIndices" [formGroupName]="i">
                <!-- <tr *ngFor="let v of ventas.controls; let i = index" [formGroupName]="i"> -->
                <td  *ngIf="(estado == 1 || estado == 12345) && tienePermiso(permisos.colEntregados) " > 
                    <span 
                      class="d-flex align-items-center justify-content-center">
                       <input formControlName="entregado"  type="checkbox" class="form-check-input" id="exampleCheck1">
                    </span>
                </td>
                <ng-container *ngIf="estado > 1 && tienePermiso(permisos.colBdc)" >
                  <td > 
                    <span 
                      class="d-flex align-items-center justify-content-center">
                       <input formControlName="bdc"  type="checkbox" class="form-check-input" id="exampleCheck1">
                    </span>
                  </td>
                </ng-container>
                <ng-container *ngIf="estado > 1 && tienePermiso(permisos.colVBdc)">
                  <td> 
                      <span
                      *ngIf="ventas.at(i).get('bdc')?.value" 
                        class="d-flex align-items-center justify-content-center">
                        <input formControlName="v_bdc"  type="checkbox" class="form-check-input" id="exampleCheck1">
                      </span>
                  </td>
                </ng-container>
              
                  <td (click)="seleccionarFila(i)">{{ventas.at(i).get('fecha_factura')?.value}}</td>
                  <td (click)="seleccionarFila(i)" class="text-nowrap">{{ventas.at(i).get('no_factura')?.value}} 
                    <span class="text-danger" *ngIf="ventas.at(i).get('observacion')?.value" [title]="ventas.at(i).get('observacion')?.value"> <i class="bx bx-info-circle bx-flashing "></i></span>
                  </td> 
                  <td (click)="seleccionarFila(i)" class="text-nowrap">{{ventas.at(i).get('razon_social')?.value}}</td>
                  <td (click)="seleccionarFila(i)" class="text-nowrap">{{ventas.at(i).get('clave_inventario')?.value}}</td>
                  <td (click)="seleccionarFila(i)"class="text-nowrap">{{ventas.at(i).get('clave_vendedor')?.value }}</td>
                  <td (click)="seleccionarFila(i)"class="text-nowrap">{{ventas.at(i).get('descripcion')?.value}}</td>
                  <td (click)="seleccionarFila(i)">{{ventas.at(i).get('serie')?.value}}</td>
                  <td (click)="seleccionarFila(i)">{{ventas.at(i).get('total_venta')?.value | currency}}</td>
                  <td (click)="seleccionarFila(i)">{{ventas.at(i).get('costos')?.value | currency}}</td>
                  <td (click)="seleccionarFila(i)">{{ventas.at(i).get('bonificaciones')?.value | currency}}</td>
                  <td (click)="seleccionarFila(i)">{{ventas.at(i).get('utilidad_inicial')?.value | currency}}</td>

                  <th class="text-nowrap">{{ventas.at(i).get('tipo_venta')?.value}}</th> <!-- Este valor ya existe solo  es de referencia -->  
                
                
                
                <ng-container *ngIf="estado > 1 && tienePermiso(permisos.colFormGastos)">
                  <td><input class="form-control form-control-sm input-min text-end" mask="separator" thousandSeparator="," prefix="$ "  type="text" placeholder="Otros" formControlName="otros"></td><!-- Input Editable -->
                  <td><input class="form-control form-control-sm input-min text-end" mask="separator" thousandSeparator="," prefix="$ "  type="text" placeholder="Cortesia" formControlName="cortesia"></td><!-- Input Editable -->
                  <td><input class="form-control form-control-sm input-min text-end" mask="separator" thousandSeparator="," prefix="$ "  type="text" placeholder="Gasolina" formControlName="gasolina"></td><!-- Input Editable -->
                  <td><input class="form-control form-control-sm input-min text-end" mask="separator" thousandSeparator="," prefix="$ "  type="text" placeholder="Previa" formControlName="previa"></td><!-- Input Editable -->
                  <td><input class="form-control form-control-sm input-min text-end" mask="separator" thousandSeparator="," prefix="$ "  type="text" placeholder="Placas" formControlName="placas"></td><!-- Input Editable -->
                  <td><input class="form-control form-control-sm input-min text-end" mask="separator" thousandSeparator="," prefix="$ "  type="text" placeholder="Descuentos" formControlName="descuentos"></td><!-- Input Editable -->
                  <td><input class="form-control form-control-sm input-min text-end" mask="separator" thousandSeparator="," prefix="$ "  type="text" placeholder="Descuento impulso" formControlName="descuento_impulso"></td><!-- Input Editable -->
                  <td><input class="form-control form-control-sm input-min text-end" mask="separator" thousandSeparator="," prefix="$ "  type="text" placeholder="Traslados" formControlName="traslados"></td><!-- Input Editable -->
                  <td><input class="form-control form-control-sm input-min text-end" mask="separator" thousandSeparator="," prefix="$ "  type="text" placeholder="Subsidios" formControlName="subsidios"></td><!-- Input Editable -->
                  <td><input class="form-control form-control-sm input-min text-end" mask="separator" thousandSeparator="," prefix="$ "  type="text" placeholder="Descuento DA" formControlName="descuento_da"></td><!-- Input Editable -->
                  <td><input class="form-control form-control-sm input-min text-end" mask="separator" thousandSeparator="," prefix="$ "  type="text" placeholder="Accesorios" formControlName="accesorios"></td><!-- Input Editable -->
                  <td class="text-nowrap fw-bold text-end">{{ ventas.at(i).get('total_gastos')?.value | currency }}</td>
                  <td class="text-nowrap fw-bold text-end text-muted border-right border-dark">{{ ventas.at(i).get('utlidad_gastos')?.value | currency }}</td>
                  <td><input class="form-control form-control-sm input-min text-end" mask="separator" thousandSeparator="," prefix="$ "  type="text" placeholder="ComI. Garantizada" formControlName="comision_garantizada"></td><!-- Input Editable -->
                  <td><input class="form-control form-control-sm input-min text-end" mask="separator" thousandSeparator="," prefix="$ "  type="text" placeholder="ComI. Garantizada" formControlName="comision_garantizada_gerencia"></td><!-- Input Editable -->
                  <td><input class="form-control form-control-sm input-min text-end" mask="separator" thousandSeparator="," prefix="$ "  type="text" placeholder="ComI. Garantizada" formControlName="comision_garantizada_bdc"></td><!-- Input Editable -->
                  <td class="border-right border-dark"><input class="form-control form-control-sm input-min text-end" mask="separator" thousandSeparator="," prefix="$ "  type="text" placeholder="ComI. Garantizada" formControlName="comision_garantizada_cor_bdc"></td><!-- Input Editable -->
                  <th class="text-nowrap">{{(ventas.at(i).get('comision_garantizada').value > 0 ? 0 : ventas.at(i).get('tipo_venta_porcentaje')?.value ) | percent}}</th> <!-- Este valor ya existe solo es de referencia -->
                  <td><input class="form-control form-control-sm input-min text-end" mask="separator" thousandSeparator="," type="text" placeholder="% BDC" formControlName="porcentaje_bdc" suffix="%"></td><!-- Input Editable -->
                  <!--  Resultados calculados -->  
                  <td class="text-nowrap fw-bold text-end text-primary">{{ ventas.at(i).get('comision_apv')?.value | currency }}</td>
                  <td class="text-nowrap fw-bold text-end text-muted">{{ ventas.at(i).get('comision_bdc')?.value | currency }}</td>
                  <td class="text-nowrap fw-bold text-end text-muted">{{ ventas.at(i).get('utilidad_final')?.value | currency }}</td>
                   
                </ng-container>
                
                <td *ngIf="estado > 2 && tienePermiso(permisos.colValidados)"> 
                    <span class="d-flex align-items-center justify-content-center">
                       <input formControlName="validado"  type="checkbox" class="form-check-input" id="exampleCheck1">
                    </span>
                </td>
                <td *ngIf="estado > 1 && tienePermiso(permisos.colAcciones)"> 
                    <span class="d-flex justify-content-betwen align-items-center gap-2">
                      <button *ngIf="estado > 1 && (+ventas.at(i).get('estatus')?.value) > 1" class="btn btn-sm btn-warning"
                          [disabled]="devolviendo[i]" (click)="devolver(ventas.at(i).get('id_venta')?.value, i)">
                          <span *ngIf="!devolviendo[i]"> Devolver</span>
                          <span *ngIf="devolviendo[i]" class="spinner-border spinner-border-sm" role="status"aria-hidden="true"></span>
                      </button>
                      <!-- <button *ngIf="estado == 3 &&  (+ventas.at(i).get('estatus')?.value) == 3" class="btn btn-sm btn-info"> Adjuntos </button>  -->
                     <button *ngIf="estado == 4"  class="btn btn-sm btn-success"
                          [disabled]="pagando[i]"  (click)="guardarPagado(ventas.at(i).get('id_venta')?.value, i)">
                          <span *ngIf="!pagando[i]"> Pagar</span>
                          <span *ngIf="pagando[i]" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                      </button>
                    </span>
                </td>
                <ng-container  *ngIf="estado >= 4 &&  tienePermiso(permisos.colPagados)" >
                  <td>
                    <span *ngIf="ventas.at(i).get('pagado')?.value == 1" class="text-success fw-bold text-center"> Pagado </span>
                  </td>
                </ng-container>
                <td>
                  <span class="text-primary fw-bold text-center text-nowrap"> {{ventas.at(i).get('estatusTexto')?.value}} </span>
                </td>
                </tr>
              </tbody>
            </table>
            </form>
             
          </div>

          <span class="text-muted text-nowrap mt-4">
            Se muestran {{ filteredIndices.length }} de {{ ventas.controls.length }}
          </span>
        </div>
    </div>

    <app-botonera
     *ngIf="estado > 0 && vista === 'pendientes'"
      [estado] = "estado"
      [guardandoE] = "guardandoE"
      [guardandoV] = "guardandoV"
      [guardandoG] = "guardandoG"
      [guardandoBdc] = "guardandoBdc"
      [guardandovBdc] = "guardandovBdc"
      (saveEntregados)="guardarEntregados()"
      (saveValidados)="guardarValidados()"
      (saveGastos)="guardarGastos()"
      (saveValidadosBdc)="guardarValidadosBDC()"
      (saveBdc)="guardarBDC()"
    ></app-botonera>

    </div>
  </div>

</div> <!-- container-fluid -->
<ng-template #mensaje>
  <div class="text-center text-muted">
    <Strong>No se encontraron registros para mostrar...</Strong>
    <p>Intenta filtrar por un periodo distinto<br>ó<br>Revisa en el apartado de comisiones pagadas</p>
  </div>
</ng-template>