<!-- 
<form (paste)="onPaste($event)">
    <p  class="text-center"><i class="fas fa-paste"></i>&nbsp;<strong>Pega aquí tu tabla de excel</strong></p>
    <table  class="table table-bordered">
      <thead>
        <tr>
          <th *ngFor="let header of headers">{{ header }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of tableData">
          <td *ngFor="let cell of row">{{ cell }}</td>
        </tr>
      </tbody>
    </table>
  </form>  -->
  <button class="btn btn-sm btn-primary" (click)="proccesData()">PREPARA DATOS</button>
  <form (paste)="onPaste($event)">
    <p *ngIf="showInstructions" class="text-center"><i class="fas fa-paste"></i>&nbsp;<strong>Pega aquí tu tabla de excel</strong></p>

    <table *ngIf="!showInstructions"  class="table table-bordered">
      <thead>
        <tr class="text-center">
          <th>Concepto</th>
          <th *ngFor="let empresa of catEmpresas" ><span>{{ empresa.sub_division }}</span> {{empresa.sucursal}} </th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of tableData">
          <td *ngFor="let cell of row" [attr.colspan]="cell.colspan" class="text-center">
            {{ cell.value }}
          </td>
        </tr>
      </tbody>
    </table>
  </form> 