<div class="card  rounded-4 shadow-sm">
    <div class="card-body">
        <h5 class="text-muted mb-4"> <i class="fas fa-percent h5 text-warning align-middle mb-0 me-1"></i>{{title}}</h5>
        <div class="row">
          <div class="col-lg-4 col-4">
            <div class="text-muted">
              <div class="mb-4">
                <p>Este mes</p>
                <ng-container *ngIf="totalMes > 0; else elseTemplate1">
                  <h4>{{simbolo}} {{ totalMes | number }}</h4>
                </ng-container>
                <ng-template #elseTemplate1>
                  <h4 class="text-danger">{{simbolo}} {{ totalMes | number }}</h4>
                </ng-template>

                <div>
                  <ng-container *ngIf="diferencia > 0; else elseTemplate">
                    <span class="badge badge-soft-success font-size-12 me-1">
                      + {{ diferencia | number }}</span
                    >
                  </ng-container>
                  <ng-template #elseTemplate>
                    <span class="badge badge-soft-danger font-size-12 me-1">
                      {{simbolo}} {{ diferencia | number }}</span
                    >
                  </ng-template>
                </div>
              </div>

              <div>
                <a [routerLink]="[ '../',tipo, concepto ]" class="btn btn-primary btn-sm">Ver Detalle</a>
              </div>

              <div class="mt-4">
                <p class="mb-2">El mes pasado:</p>
                <h5>{{simbolo}} {{ totalMesAnt | number }}</h5>
              </div>
            </div>
          </div>
                <div class="col-lg-8 col-8">
                    <div id="chart_{{concepto}}"></div>
                </div>
        </div>
    </div>
</div>
