<div class="card mb-3 border border">
  <div class="card-header bg-primary text-center text-white">
   <strong>Información general de la solicitud de compra. </strong> 
  </div>
  <div class="card-body">
    <div class="row"> <!--Inicia div datos solicitud -->
    <div class="col-md-6">
      <p><strong>Folio: </strong>{{ solicitudCompra.folio }}</p>
      <p >
        <strong>Usuario solicita: </strong>{{ solicitudCompra.usuario_solicita }}
      </p>
      <p><strong>Empresa: </strong>{{solicitudCompra.empresa}}</p>
      <p> <strong>Estatus: </strong>  <span [ngClass]="'badge rounded-pill font-size-11 ' + solicitudCompra.claseEstado "> {{solicitudCompra.estado}} </span>
      <p *ngIf="solicitudCompra.razon_cancelacion"><strong> Razón de cancelación: </strong>{{solicitudCompra.razon_cancelacion}}</p>
      <p *ngIf="solicitudCompra.tipo === 2"> <strong>Orden de trabajo: </strong> {{ solicitudCompra.orden_trabajo }} 
        &nbsp; 
        <span *ngIf="solicitudCompra.formato_orden" (click)= "verArchivos(solicitudCompra.formato_orden)" class="btn btn-sm btn-info"><i class="bx bx-info-circle"></i> Ver  </span>   
      </p>
      
    </div>


    <div class="col-md-6">
      <p *ngIf="solicitudCompra.tipo === 2"> <strong>Folio Requisicion: </strong> {{ solicitudCompra.folio_requisicion ?? 'No especificada' }}</p>
      <p><strong>Fecha: </strong>{{ solicitudCompra.fecha}}</p>
      <p *ngIf="solicitudCompra.c_c === 0">
        <strong>U. Destino: </strong>{{solicitudCompra.usuario_destino}} 
      </p>
      <p *ngIf="solicitudCompra.c_c != 0">
        <strong>Centro de costos: </strong> {{ centrosCostos[solicitudCompra.c_c-1].Descripcion }}
     </p>
      <p><strong>Motivo: </strong>{{ solicitudCompra.motivo }}</p>
      <div *ngIf="mostrarTotal" class="row">
        <p *ngIf="cotizacion">
          <strong>Consideraciones: </strong> {{ cotizacion.consideraciones }}
        </p>
      </div>
      <p *ngIf="solicitudCompra.observaciones"> <strong>Observaciones: </strong> {{solicitudCompra.observaciones}}</p>
    </div>
  </div> <!--Fin div datos solicitud -->
  </div>
</div>

