<div class="card">
    <div class="card-body">
        <div class="clearfix">
            <div class="float-end">
                <div class="input-group input-group-sm">
                    <select class="form-select form-select-sm" >
                        <option value="january" selected>Ene</option>
                        <option value="december">Feb</option>
                        <option value="november">Maz</option>
                        <option value="october">Abr</option>
                    </select>
                    <label class="input-group-text">Mes</label>
                </div>
            </div>
            <h4 class="card-title mb-4">{{title}}</h4>
        </div>
        
        <div class="row">
            <div class="col-lg-4">
                <div class="text-muted">
                    <div class="mb-4">
                        <p>Este mes</p>
                        <ng-container *ngIf="dataMes[15][concepto] > 0; else elseTemplate1">
                            <h4>$ {{ dataMes[15][concepto] | number }}</h4>
                        </ng-container>
                        <ng-template #elseTemplate1>
                            <h4 class="text-danger">$ {{ dataMes[15][concepto] | number }}</h4> 
                        </ng-template>
                        
                        <div>
                            <ng-container *ngIf="diferencia > 0; else elseTemplate">
                                <span class="badge badge-soft-success font-size-12 me-1"> + {{ diferencia | number }}</span> 
                            </ng-container>
                            <ng-template #elseTemplate>
                                <span class="badge badge-soft-danger font-size-12 me-1"> {{ diferencia | number }}</span> 
                            </ng-template>
                            
                        </div>
                    </div>

                    <div>
                        <a [routerLink]="[ '../energeticos-detalle/', concepto ]" class="btn btn-primary btn-sm">Ver Detalle</a>
                    </div>

                    <div class="mt-4">
                        <p class="mb-2">El mes pasado:</p>
                        <h5>$ {{ dataMesAnterior[15][concepto] | number }}</h5>
                    </div>

                </div>
            </div>

            <div class="col-lg-8">
                <div id="chart_{{concepto}}"></div>
            </div>
        </div>
    </div>
</div>