<!-- <div class="row"> -->
<div class="card border">
        <div class="card-header bg-primary-subtle text-center">
                Da click en el siguiente botón para autorizar a pago la orden de compra (Debes de elegir como forma de pago crédito o contado )
        </div> 
        <div class="card-body ">
                <div class="d-flex justify-content-center">
                        <button class="btn btn-primary" (click)="solicitarPago()"> <strong> Autorizar a pago </strong></button>
                </div>
        </div>
</div>
        
<!-- </div> -->