<form class="row g-2" [formGroup]="formSolicitudCompra">
    <div class="col-md">
      <label for="empresa" class="form-label form-label-sm">Empresa: *</label>
      
      <select
      *ngIf = "tienePermiso('view select emp users compras'); else nombreEmpresa"
        class="form-select form-select-sm" aria-label="Default select example" formControlName="empresa" id="empresa"
        name="empresa" aria-label="empresa" (change)="getUsuarios($event.target.value)">
        <option value="" selected disabled>Selecciona uno</option>
        <option *ngIf = "isLoading" value="" [disabled] = "isLoading"> Cargando opciones espera...</option>
        <option  *ngFor="let item of empresas" [value]="item.intercompania" [hidden]="!tienePermiso(item.permiso)" >
          {{ item.name.toUpperCase() }}
        </option>
      </select>
      <div *ngIf="solicitudCompraFormControl.empresa.touched || submitted || solicitudCompraFormControl.empresa.value === 'Selecciona uno'">
        <div class="text-danger form-text" *ngIf="solicitudCompraFormControl.empresa.errors?.['required']">
          Debes de seleccionar una empresa.
        </div>
      </div>
    </div>

    <div class="col-md" *ngIf ="!isAgencia || tienePermiso('view form tipo mantenimiento')">
      <label for="usuario_destino" class="form-label">Usuarios: *</label>
      <select class="form-select form-select-sm" aria-label="Default select example" formControlName="usuario_destino" id="usuario_destino" 
      name="usuario_destino" aria-label="usuario_destino">
        <option value="" selected disabled>Selecciona uno</option>
        <option *ngIf = "!isLoad" value="" [disabled] = "!isLoad"> Cargando opciones espera...</option>
        <option [disabled] = "disabled" *ngFor="let item of usuarios" [value]="item.id ">
          {{ item.firstname }} {{ item.realname }} <span>  ({{item.puesto}})</span>
        </option>
      </select>
      <div *ngIf="solicitudCompraFormControl.usuario_destino.touched || submitted">
        <div
          class="text-danger form-text" *ngIf="solicitudCompraFormControl.usuario_destino.errors?.['required']">
          Usuarios es requerido.
        </div>
      </div>
    </div>

    <div *ngIf="isAgencia && !tienePermiso('view form tipo mantenimiento')" class="col-md">
      <label  class="form-label">Centro de costos *: </label>
      <select class="form-select form-select-sm" type="text" formControlName="c_c"  
       id="c_c" name="c_c" aria-label="c_c">
        <option value="0" selected disabled>Selecciona uno</option>
        <option *ngFor="let centro of centrosCostos" value="{{ centro.Id }}">
          {{ centro.Descripcion }}
        </option>
      </select>
    </div>

    <div class="col-md-12">
      <label for="motivo" class="form-label">Motivo de la compra: *</label>
      <textarea 

      class="form-control" formControlName="motivo" id="motivo" name="motivo" rows="3"
      ></textarea>

      <!-- <p [class] = "caracteresRestantes === 0 ? 'text-danger form-text' : 'form-text'">
        {{longitudMaxima}}/{{caracteresRestantes}}
      </p> -->
      <div *ngIf="solicitudCompraFormControl.motivo.touched || submitted">
        <div
          class="text-danger form-text" *ngIf="solicitudCompraFormControl.motivo.errors?.['required']">
          Motivo es requerido.
        </div>
      </div>
    </div>
    <div class="form-group col-md-6">
      <div class="d-flex align-items-center mt-2">
        <label class="mb-0 me-2">Requiere anticipo*:</label>
    
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" formControlName="requiere_anticipo" id="inlineRadio1" value="true">
          <label class="form-check-label" for="inlineRadio1">Si</label>
        </div>
    
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" formControlName="requiere_anticipo" id="inlineRadio2" value="false">
          <label class="form-check-label" for="inlineRadio2">No</label>
        </div>
      </div>
      <div *ngIf="solicitudCompraFormControl.requiere_anticipo.touched || submitted">
        <small class="text-danger form-text" *ngIf="solicitudCompraFormControl.requiere_anticipo.errors?.['required']">
          Debes indicar si requiere anticipo.
        </small>
      </div>
    </div>
    <!-- <div class="col-md">
      <label for="empresa" class="form-label form-label-sm">Tipo de compra: *</label>
      
      <select
        class="form-select form-select-sm" aria-label="Default select example" formControlName="tipo" id="tipo"
        name="tipo" aria-label="tipo">
        <option value="" selected disabled>Selecciona uno</option>
        <option  *ngFor="let item of tiposCompras" [value]="item.claveNum">
          {{ item.tipoCompra }}
        </option>
      </select>
      <div *ngIf="solicitudCompraFormControl.tipo.touched || submitted || solicitudCompraFormControl.tipo.value === 'Selecciona uno'">
        <div class="text-danger form-text" *ngIf="solicitudCompraFormControl.tipo.errors?.['required']">
          Debes de seleccionar un tipo.
        </div>
      </div>
    </div> -->
    <!-- fin primer from -->
  </form>
  <ng-template #nombreEmpresa>
  <p> <strong>{{ usuarioSolicita.empresa }} </strong> </p>
</ng-template>