<div class="modal-header">
  <h5 class="modal-title mt-0">{{ title }}</h5>
  <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" (click)="cerrarModal()">
    <span aria-hidden="true"></span>
  </button>
</div>
<div class="modal-body row" >

  <div class="col">

    <div class="alert alert-dark" role="alert">
      Información de la Cita
    </div>

  </div>

  <div class="col">
    <div class="alert alert-dark" role="alert">
      Entrada de Vehiuculo
    </div>

  </div>

  <div class="col">
    <div class="alert alert-dark" role="alert">
      Estado Actual del vehiculo
    </div>
  </div>


</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cerrarModal()">Cerrar</button>
</div>
