
<div class="row g-3 mb-2">

    <!-- Información -->
    <div class="col-12 col-lg-10">

        <!-- Primera fila -->
        <div class="row g-2 mb-2">

            <div class="col-6 col-md-4 col-xl-4  ">
                <div class="border rounded px-3 py-2 h-100">
                    <small class="text-muted d-block">Empresa</small>
                    <span class="fw-semibold">
                        {{ solicitud.empresa }}
                    </span>
                </div>
            </div>

            <div class="col-6 col-md-4 col-xl-4 ">
                <div class="border rounded px-3 py-2 h-100">
                    <small class="text-muted d-block">Folio</small>
                    <span class="fw-semibold text-primary">
                        {{ solicitud.folio }}
                    </span>
                </div>
            </div>

            

            <div class="col-12 col-md-4 col-xl-4  ">
                <div class="border rounded px-3 py-2 h-100">
                    <small class="text-muted d-block">Solicita</small>
                    <span class="fw-semibold">
                        {{ solicitud.solicita }}
                    </span>
                </div>
            </div>

        </div>

        <!-- Segunda fila -->
        <div class="row g-2">

          <div class="col-12 col-md-6 col-xl-3  ">
                <div class="border rounded px-3 py-2 h-100">
                    <small class="text-muted d-block">Fecha Solicitud</small>
                    <span class="fw-semibold">
                        {{ solicitud.fecha | date:'dd/MM/yyyy' }}
                    </span>
                </div>
            </div>

            <div class="col-12 col-md-6 col-xl-3  ">
                <div class="border rounded px-3 py-2 h-100">
                    <small class="text-muted d-block">Periodo</small>
                    <span class="fw-semibold">
                        {{ solicitud.inicio_periodo | date:'dd/MM/yyyy' }}
                        -
                        {{ solicitud.fin_periodo | date:'dd/MM/yyyy' }}
                    </span>
                </div>
            </div>

            <div class="col-6 col-md-6 col-xl-3  ">
                <div class="border rounded px-3 py-2 h-100">
                    <small class="text-muted d-block">Precio combustible</small>
                    <span class="fw-semibold text-primary">
                        {{ solicitud.precio_combustible | currency }}
                    </span>
                </div>
            </div>

            <div
                *ngIf="solicitud.fecha_dispersion"
                class="col-6 col-md-6 col-xl-3  ">

                <div class="border border-success rounded px-3 py-2 h-100">
                    <small class="text-success d-block">
                        Fecha dispersión
                    </small>

                    <span class="fw-semibold text-success">
                        {{ solicitud.fecha_dispersion | date:'dd/MM/yyyy' }}
                    </span>
                </div>

            </div>

        </div>

    </div>

    <!-- Botones -->
    <div class="col-12 col-lg-2">
        <div class="d-flex flex-column gap-2 h-100 justify-content-end">
              <button
                        *ngIf="solicitud.estatus >= 2"
                        (click)="descargarPlantilla()"
                        type="button"
                        class="btn btn-outline-success btn-sm"
                        [disabled]="descargando">
                        <span
                          *ngIf="descargando"
                          class="spinner-border spinner-border-sm me-2"
                          role="status"
                          aria-hidden="true">
                      </span>
                        <i *ngIf="!descargando" class="fas fa-file-excel me-2"></i>
                        {{ descargando ? 'Descargando...' : 'Descargar plantilla' }}
                    </button>
                    <button
                        *ngIf="solicitud.estatus == 2"
                        (click)="notificarDispersion()"
                        type="button"
                        class="btn btn-outline-info btn-sm"
                        [disabled]="notificando">
                        <span
                          *ngIf="notificando"
                          class="spinner-border spinner-border-sm me-2"
                          role="status"
                          aria-hidden="true">
                      </span>
                        <i *ngIf="!notificando" class="fas fa-paper-plane me-2"></i>
                        {{ notificando ? 'Notificando...' : 'Notificar Dispersion' }}
                    </button>
                    <button
                      *ngIf="solicitud.estatus == 1"
                      (click)="dispersion()"
                      type="button"
                      class="btn btn-primary btn-sm"
                      [disabled]="deshabilitado">

                      <span
                          *ngIf="deshabilitado"
                          class="spinner-border spinner-border-sm me-2"
                          role="status"
                          aria-hidden="true">
                      </span>

                      <i *ngIf="!deshabilitado" class="fas fa-save me-2"></i>

                      {{ deshabilitado ? 'Guardando...' : 'Guardar dispersión' }}
                  </button>
        </div>
    </div>
</div>



<form [formGroup]="form">
  <div class="table-responsive bordered">
    <table class="table table-sm table-bordered table-hover align-middle">
      <thead class="table-light">
        <tr>
          <th class="text-center">Eco</th>
          <th>Vehículo</th>
          <th>Placas</th>
          <th class="text-center">Recorrido</th>
          <th>Tarjeta Toka</th>
          <th>Litros</th>
          <th>Precio</th>
          <th>Saldo Solicitado</th>
          <th>{{solicitud.fecha_dispersion ? 'Saldo Actual' : 'Saldo'}}</th>
          <th>{{solicitud.fecha_dispersion ? 'Saldo Dispersado' : 'Saldo a Dispersar'}}</th>
        </tr>
      </thead>
      <tbody formArrayName="vehiculos">
        <tr
          *ngFor="let grupo of vehiculosArray.controls; let i = index"
          [formGroupName]="i">
          <td class="fw-bold text-center">
            {{ grupo.get('eco')?.value }}
          </td>
          <td>
            <strong> {{ grupo.get('marca')?.value }}</strong><small>{{ grupo.get('submarca')?.value }} {{ grupo.get('modelo')?.value }}</small>
          </td>
          <td> {{ grupo.get('placas')?.value }} </td>
          <td class="text-center">
            <span
              class="fw-bold badge fs-6 text-nowrap text-white"
              [ngClass]="{
                'bg-danger': grupo.get('distanciaRecorrida')?.value <= 0,
                'bg-success': grupo.get('distanciaRecorrida')?.value > 0
              }">
              {{ grupo.get('distanciaRecorrida')?.value | number:'1.2-2' }} Km
            </span>
          </td>
          <td [ngClass]="{'text-primary fw-bold': getValor( i ,'saldoSolictado') > 0}">{{ getValor( i ,'numTarjetaToka') }}</td>
          <td class="text-end fw-bold"> {{grupo.get('litros')?.value | number}} </td>
          <td class="text-end fw-bold"> {{solicitud.precio_combustible | currency}}</td>
          <td class="text-end fw-bold"> {{grupo.get('saldoSolicitado')?.value | currency}}</td>
          
            <ng-container *ngIf="!solicitud.fecha_dispersion">
                <td>
                <input
                    formControlName="saldoActual"
                    class="form-control form-control-sm text-end"
                    mask="separator.2"
                    thousandSeparator=","
                    prefix="$ "
                    (input)="calcularSaldoDispersar(i)"
                    >   
                </td>
            </ng-container>
            <ng-container *ngIf="solicitud.fecha_dispersion">
                <td class="text-end fw-bold text-success">
                    {{grupo.get('saldoActual')?.value ?? 0 | currency}}
                </td>
            </ng-container>
            
            
          <td class="text-end fw-bold text-primary">{{ grupo.get('saldoDispersar')?.value | currency }}</td>

        </tr>

      </tbody>

      <tfoot class="table-secondary">
        <tr>
          <td colspan="7" class="text-end">Totales</td>
          <td class="text-end fw-bold">{{ totalSolicitado | currency }}</td>
          <td class="text-end fw-bold">{{ totalActual | currency }}</td>
          <td class="text-end fw-bold">{{ totalDispersar | currency }}</td>
        </tr>
      </tfoot>
    </table>
  </div>
</form>
