<form [formGroup]="formulario">
    <div class="row">
  <!-- Nombre -->
  <div class="col-md-6">
    <label for="nombre" class="form-label">Nombre</label>
    <input id="nombre" type="text" class="form-control form-control-sm" formControlName="nombre" placeholder="Nombre">
    <div *ngIf="f['nombre'].touched && f['nombre'].invalid" class="text-danger">
      <small>El nombre es obligatorio</small>
    </div>
  </div>

  <!-- Clave -->
  <div class="col-md-6">
    <label for="clave" class="form-label">Clave</label>
    <input id="clave" type="text" class="form-control form-control-sm" formControlName="clave" placeholder="Clave"> 
    <div *ngIf="f['clave'].touched && f['clave'].invalid" class="text-danger">
      <small>La clave es obligatoria</small>
    </div>
  </div>

  <!-- Nro AutoSystem -->
  <div class="col-md-6">
    <label for="nroAutoSystem" class="form-label">Nro AutoSystem</label>
    <input mask="0*" id="nroAutoSystem" type="text" class="form-control form-control-sm" formControlName="nroAutoSystem" placeholder="# Auto System">
    <div *ngIf="f['nroAutoSystem'].touched && f['nroAutoSystem'].invalid" class="text-danger">
      <small>El número es obligatorio</small>
    </div>
  </div>

  <!-- Agencia -->
  <div class="col-md-6" *ngIf="tienePermiso(permisos.selectAgencias);else nombreEmpresa">
    <label for="agencia" class="form-label">Agencia</label>
    <select id="agencia" class="form-select form-select-sm" formControlName="agencia">
      <option selected disabled value="">Selecciona una opcion</option>
      <ng-container  *ngFor="let ag of agencias">
        <option *ngIf="tienePermiso(ag.permiso);" [value]="ag.value">{{ ag.name }}</option>
      </ng-container>
      
    </select>
    <div *ngIf="f['agencia'].touched && f['agencia'].invalid" class="text-danger">
      <small>La agencia es obligatoria</small>
    </div>
  </div>

  <!-- Tipo -->
  <div class="col-md-6">
    <label for="tipo" class="form-label">Tipo</label>
    <select id="tipo" class="form-select form-select-sm" formControlName="tipo">
        <option selected disabled value="">Selecciona una opcion</option>
        <option *ngFor="let t of tipos" [value]="t.value">{{ t.dsc }}</option>
    </select>
    <div *ngIf="f['tipo'].touched && f['tipo'].invalid" class="text-danger">
      <small>El tipo es obligatorio</small>
    </div>
  </div>

  <!-- Tipo -->
  <div class="col-md-6">
    <label for="tipo" class="form-label">Departamento</label>
    <select id="tipo" class="form-select form-select-sm" formControlName="tipo">
        <option selected disabled value="">Selecciona una opcion</option>
        <option *ngFor="let t of tipos" [value]="t.value">{{ t.dsc }}</option>
    </select>
    <div *ngIf="f['tipo'].touched && f['tipo'].invalid" class="text-danger">
      <small>El tipo es obligatorio</small>
    </div>
  </div>

  </div>
</form>

<ng-template #nombreEmpresa>
  <div class="col-auto">
    <label for="agencia" class="form-label">Agencia</label>
    <p class="border rounded py-1 px-2"> <strong>{{getEmpresaActiva().empresaUsuario}} </strong></p>
  </div>
  
</ng-template>


