<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">{{nombreMes}} {{anioActual}}</h4>
            <div class="page-title-right ">
                <ol class="breadcrumb m-0 ">
                    <ng-container>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Landing Page</a>
                        </li>
                        <li class="breadcrumb-item active">Gaseras {{nombreMes}} {{anioActual}} </li>
                    </ng-container>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center" *ngIf="isLoad">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

<div class="row" *ngIf="!isLoad">
    <div class="col-xl-12">
        <div class="row">
            <div class="col-sm-4">
                <app-totales 
                    [dataMes]="dataMesActual" 
                    [dataMesAnterior]="dataMesAnterior" 
                    tipo = "energeticos-detalle"
                    concepto="ventas"
                    color = "#f1b44c"
                    [totalAnio]="dataTotalAnio"
                    [totalAnioAnt]="dataTotalAnioAnt"
                ></app-totales>
            </div>
            <div class="col-sm-4">
                <app-totales 
                    [dataMes]="dataMesActual" 
                    [dataMesAnterior]="dataMesAnterior" 
                    tipo = "energeticos-detalle"
                    concepto="venta_litros"
                    color = "#f1b44c"
                    [totalAnio]="dataTotalAnio"
                    [totalAnioAnt]="dataTotalAnioAnt"
                ></app-totales>
            </div>
            <div class="col-sm-4">
                <app-totales 
                    [dataMes]="dataMesActual" 
                    [dataMesAnterior]="dataMesAnterior" 
                    tipo = "energeticos-detalle"
                    concepto="gasto"
                    color = "#f1b44c"
                    [totalAnio]="dataTotalAnio"
                    [totalAnioAnt]="dataTotalAnioAnt"
                ></app-totales>
            </div>
        </div>

    </div>
</div>

<div class="row" *ngIf="!isLoad">
    <div class="col-xl-6">
        <app-totales-grafica 
            [dataMes]="dataMesActual" 
            [dataMesAnterior]="dataMesAnterior"
            tipo = "energeticos-detalle"
            concepto="uno"
            color = "#f1b44c"
            [totalAnio]="dataTotalAnio"
            [totalAnioAnt]="dataTotalAnioAnt"
        ></app-totales-grafica>
    </div>
    <div class="col-xl-6">
        <app-totales-grafica 
            [dataMes]="dataMesActual" 
            [dataMesAnterior]="dataMesAnterior"
            tipo = "energeticos-detalle" 
            concepto="utilidad_bruta"
            color = "#f1b44c"
            [totalAnio]="dataTotalAnio"
            [totalAnioAnt]="dataTotalAnioAnt"
        ></app-totales-grafica>
    </div>
</div>

<div class="row" *ngIf="!isLoad">
    <div class="col-xl-6">
        <app-totales-grafica 
            [dataMes]="dataMesActual" 
            [dataMesAnterior]="dataMesAnterior" 
            tipo = "energeticos-detalle"
            concepto="ubo"
            color = "#f1b44c"
            [totalAnio]="dataTotalAnio"
            [totalAnioAnt]="dataTotalAnioAnt"
        ></app-totales-grafica>
    </div>
    <div class="col-xl-6">
        <app-porcentaje-eficiencia
            [dataMes]="dataMesActual" 
            [dataMesAnterior]="dataMesAnterior" 
            tipo = "energeticos-detalle"
            color = "#f1b44c"
            concepto="eficiencia"
            [totalAnio]="dataTotalAnio"
            [totalAnioAnt]="dataTotalAnioAnt"
        ></app-porcentaje-eficiencia>
    </div>
</div>

<div class="row" *ngIf="!isLoad">
    <div class="col-xl-12">
        <app-totales-grafica 
            [dataMes]="dataMesActual" 
            [dataMesAnterior]="dataMesAnterior" 
            tipo = "energeticos-detalle"
            concepto="personal"
            color = "#f1b44c"
            [totalAnio]="dataTotalAnio"
            [totalAnioAnt]="dataTotalAnioAnt"
        ></app-totales-grafica>
    </div>
</div>