<!-- <div class="row"> -->
<div class="card border rounded shadow-lg" *ngIf="tienePermiso('view btn save precios')">
        <div class="card-header bg-primary text-center text-white">
               <strong> Da click en el siguiente botón para marcar como finalizada esta compra</strong> 
        </div> 
        <div class="card-body ">
                <div class="d-flex justify-content-center">
                        <button class="btn btn-dark" (click)="finalizarOrdenCompra()"> <strong> Finalizar compra </strong></button>
                </div>
        </div>
</div>
        
<!-- </div> -->
