<div class="card rounded-4 shadow-sm">
  <div class="card-header bg-white rounded-top-4 border-bottom border-primary  py-3">
    <h5 class="fw-bold text-dark m-0">
      <i class="fas fa-check-square text-primary me-2"></i> {{ title }}
    </h5>
  </div>
  <div class="card-body">
    <span class="small text-muted">{{ instrucciones }}</span>
    <div class="d-flex justify-content-center align-items-center gap-4 mt-2">
      <button
      *ngIf="showButtonDeny"
        class="btn btn-danger fw-semibold d-inline-flex align-items-center"
        type="button"
        [disabled]="loadingDeny"
        (click)="clickDeny()">
        <span *ngIf="loadingDeny" class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
        <i *ngIf="!loadingDeny"  class="fas fa-times me-1"></i>
        <span>{{ btnDenyLabel }}</span>
      </button>

      <button
        class="btn btn-success fw-semibold d-inline-flex align-items-center"
        type="button"
        [disabled]="loadingConfirm"
        (click)="clickConfirm()">
        <span *ngIf="loadingConfirm" class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
        <i *ngIf="!loadingConfirm"  class="fas fa-check me-1"></i>
        <span>{{ btnConfirmLabel }}</span>
      </button>

    </div>
  </div>
</div>
