
<div class="card shadow-sm rounded-4">
<div class="card-header bg-secondary-subtle d-flex justify-content-between align-items-center rounded-4">
        <span class="fw-bold">ACTIVOS</span>
        <div class="d-flex gap-2">
            <!-- Botón toggle -->
            <button 
                class="btn btn-dark btn-sm" 
                type="button" 
                (click)="toggleFormulario()">
                <i class="fas" [ngClass]="mostrarFormulario ? 'fa-eye-slash' : 'fa-plus'"></i>
                {{ mostrarFormulario ? 'Ocultar formulario' : 'Nueva Asignación' }}
            </button>
            <!-- <button
                *ngIf = "idsSeleccionados.length > 0"
                title="Imprimir resguardo"
                (click)="imprimirResguardo()"
                class="btn btn-outline-dark btn-sm">
                <i class="fas fa-print"></i>
                Resguardo
            </button> -->

            <button  *ngIf = "idsSeleccionados.length > 0"
                title="Imprimir resguardo"
                (click)="imprimirResguardo()"
                class="btn btn-outline-dark btn-sm">
                <ng-container *ngIf="!downloading; else spinnerDown">
                    <i class="fas fa-print"></i>
                    Resguardo
                </ng-container>
                <ng-template #spinnerDown>
                    <i class="fas fa-spinner fa-spin"></i> Descargando...
                </ng-template>
            </button>
        </div>
        
    </div>
<div class="card-body">

    <form *ngIf="mostrarFormulario" [formGroup]="form">
        <div class="row">
            <!-- Select Tipo -->
            <div class="col-sm-5">
                <label for="tipoHardware" class="form-label">Tipo de Hardware</label>
                <select id="tipoHardware" class="form-select form-select-sm" formControlName="tipoHardware">
                    <option [ngValue]="''">Seleccione un tipo</option>
                    <option *ngFor="let tipo of datos" [value]="tipo.id">
                        {{ tipo.tipo }}
                    </option>
                </select>
                <div *ngIf="f.tipoHardware.touched || submitted">
                    <div
                        class="text-danger form-text"
                        *ngIf="f.tipoHardware.errors?.['required']"
                    >
                        Debe seleccionar un tipo de hardware.
                    </div>
                </div>
            </div>

            <!-- Select Hardware -->
            <div class="col-sm-5">
                <label for="hardware" class="form-label">Hardware Disponible</label>
                <select id="hardware" class="form-select form-select-sm" formControlName="hardware">
                    <option [ngValue]="''">Seleccione hardware</option>
                    <option *ngFor="let hw of hardwareFiltrado" [value]="hw.id">
                        {{ hw.marca }} - {{ hw.modelo }} ({{ hw.no_serie }})
                    </option>
                </select>
                <div *ngIf="f.hardware.touched || submitted">
                    <div
                        class="text-danger form-text"
                        *ngIf="f.hardware.errors?.['required']"
                    >
                        Hardware es requerido.
                    </div>
                </div>
            </div>
            <!-- Botón -->
            <div class="col-sm-2 mt-4 text-end">
                <button type="button" class="btn btn-primary btn-sm" (click)="asignar()">
                    <ng-container *ngIf="!loading; else spinner">
                        <i class="fas fa-check"></i> Asignar
                    </ng-container>
                    <ng-template #spinner>
                        <i class="fas fa-spinner fa-spin"></i> Asignando...
                    </ng-template>
                </button>
            </div>
        </div>



    </form>
    <div class="table-responsive rounded-4 border mt-2">
        <table class="table table-sm mb-0">
            <thead>
                <tr>
                    <th></th>
                    <th>TIPO</th>
                    <th>MARCA</th>
                    <th>MODELO</th>
                    <th>SERIE</th>
                    <th>ESTADO</th>
                    <th>ASIGNADO</th>
                    <th>DEVUELTO</th>
                    <th>-</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="data.length == 0">
                    <td colspan="9" class="text-muted text-center p-3 fw-bold"> Aun no tienen activos asignado</td>
                </tr>
                <ng-container *ngIf="data.length > 0">
                    <tr *ngFor="let detalle of data">
                        <td>
                            <input type="checkbox" class="form-check-input"
                                [checked]="idsSeleccionados.includes(detalle.id)"
                                (change)="toggleSeleccion(detalle.id, $event)" />
                        </td>

                        <td>
                            <span class="badge bg-primary text-white p-1 fw-bold">
                                {{detalle?.hardware?.tipo_hardware?.tipo}}
                            </span>
                        </td>
                        <td>{{detalle?.hardware?.marca}}</td>
                        <td>{{detalle?.hardware?.modelo}}</td>
                        <td>{{detalle?.hardware?.no_serie}}</td>
                        <td>
                            <span [attr.title]="detalle?.estatus == 1 ? 'Vigente' : 'Devuelto'">
                                <i class="fas fa-circle"
                                    [ngClass]="{'text-success': detalle?.estatus, 'text-danger': detalle?.estatus == 0}">
                                </i>
                            </span>
                        </td>
                        <td>{{(detalle?.fecha_inicio | date:'dd/MM/yyyy') || '-'}}</td>
                        <td>{{(detalle?.fecha_fin | date:'dd/MM/yyyy') || '-'}}</td>
                        <td>
                            <button *ngIf="!detalle.fecha_fin" class="btn btn-danger btn-sm" (click)="remover(detalle?.id)">
                                <i class="fas fa-minus"></i>
                            </button>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
    <span class="text-muted"> {{ data.length }} Activos Asignados</span>
</div>
</div>

