<div class="card card-custom p-4 bg-white h-100 shadow-sm rounded-4 border">
    <h4 class="text-secondary border-bottom pb-2 mb-3">Infraestructura Declarada</h4>
    <div class="row text-center mt-2">
        <div class="col-4 border-end">
            <div class="fs-3 fw-semibold text-primary">
                {{ nroTanques || 0 | number}}
            </div>
            <div class="small text-muted">Tanques</div>
        </div>
        <div class="col-4 border-end">
            <div class="fs-3 fw-semibold text-primary">
                {{ nroDispensarios || 0 | number}}
            </div>
            <div class="small text-muted">Dispensarios</div>
        </div>
        <div class="col-4">
            <div class="fs-3 fw-semibold text-muted">
               {{ nroPozos || 0 | number}}
            </div>
            <div class="small text-muted">Pozos</div>
        </div>
    </div>
    <div class="alert alert-secondary mt-4 mb-0 py-2 rounded-pill fw-semibold">
        <i class="fas fa-cube me-1"></i> Producto Reportado: <strong>
           {{ claveProducto || 'Desconocido'}}
        </strong>
    </div>
</div>
