<app-card-top 
[title] = "'Concentrado de comisiones'"
></app-card-top>
<app-filtro-comsiones-generico
  [config]="configFiltro"
  [hasData]="hayDatos"
  (buscar)="buscarDatos($event)">
</app-filtro-comsiones-generico>

<div class="row">
    <div class="col">
        <app-kpi-card-generico
        title="Nuevos"
        [kpi]="1500"
        description="Pago de comisiones"
        colorClass="text-primary">
        </app-kpi-card-generico>
    </div>
     <div class="col">
        <app-kpi-card-generico
        title="Seminuevos"
        [kpi]="1500"
        description="Pago de comisiones"
        colorClass="text-primary">
        </app-kpi-card-generico>
    </div>
     <div class="col">
        <app-kpi-card-generico
        title="Financiamientos"
        [kpi]="1500"
        description="Pago de comisiones"
        colorClass="text-primary">
        </app-kpi-card-generico>
    </div>
     <div class="col">
        <app-kpi-card-generico
        title="Seguros"
        [kpi]="1500"
        description="Pago de comisiones"
        colorClass="text-primary">
        </app-kpi-card-generico>
    </div>
    <div class="col">
        <app-kpi-card-generico
        title="Accesorios"
        [kpi]="1500"
        description="Pago de comisiones"
        colorClass="text-primary">
        </app-kpi-card-generico>
    </div>
    <div class="col">
        <app-kpi-card-generico
        title="T. de unidades"
        [kpi]="1500"
        description="Pago de comisiones"
        colorClass="text-primary">
        </app-kpi-card-generico>
    </div>
    <div class="col">
        <app-kpi-card-generico
        title="TOTAL"
        [kpi]="1500"
        description="Pago de comisiones"
        colorClass="text-primary">
        </app-kpi-card-generico>
    </div>
    
</div>

<app-tabla-generica
  [data]="data"
  [columnas]="columnasVendedor"
  [isLoad]="isLoad"
  [mostrarSelect]="false"

/>