<div class="card" *ngIf = "isLoad">
  <div class="card-body">
    <div class="col-12 table-responsive">
      <table class="table table-sm table-striped-columns">
        <thead>
          <tr>
            <th scope="col">Punto de Venta</th>
            <th scope="col" class="text-center">Mes Anterior</th>
            <th scope="col" class="text-center">Mes Actual</th>
            <th scope="col" class="text-center">Mes Año anterior</th>
          </tr>
        </thead>
        <tbody>
          <tr (click)="openModalNuevo(item.pv, item.id)"  *ngFor="let item of datos">
            <td>{{ item.pv }}</td>
            <td class="text-end"> {{ item.mesAnt || 0 | number}} </td>
            <td class="text-end"> {{ item.mes || 0 | number }} </td>
            <td class="text-end"> {{ item.anioAnt || 0 | number}} </td>
            <td>
            <div *ngIf = "item.mes > item.anioAnt; else templateName">
                  <i class='bx bx-up-arrow-alt fs-3 text-success'></i>
            </div>
            <ng-template #templateName>
                  <i class='bx bx-down-arrow-alt fs-3 text-danger' ></i>
              </ng-template>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td><b>Total</b></td>
            <td class="text-end"><b> {{ totalMesAnt | number }} </b></td>
            <td class="text-end"><b> {{ totalMes | number }} </b></td>
            <td class="text-end"><b> {{ totalAnioAnt | number }} </b></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>