<div class="card rounded shadow-lg border">
  <div class="card-header text-center text-white bg-primary">
    <strong> Detalles de solicitud </strong>
  </div>
  <div class="card-body">
    <div class="d-flex justify-content-center" *ngIf="isLoad">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<div class="pb-2" *ngIf="!isLoad && formulario">
  <form [formGroup]="formulario">
    <div class="d-flex justify-content-end pb-2 gap-2">
      <button
        *ngIf = "modifica && tienePermiso('view btn edit detalles')"
        class="btn btn-secondary btn-sm"
        type="button"
        (click)="toggleModoLectura()"
      >
        <i [ngClass]="modoLectura ? 'bx bx-pencil' : 'bx bx-show-alt'"></i>
        {{ modoLectura ? "Editar" : "Vista solo lectura" }}
      </button>

      <button
        *ngIf="!modoLectura"
        type="button"
        class="btn btn-primary btn-sm"
        (click)="agregarDetalle()"
        [disabled]="sending"
      >
      <i class="fas fa-plus-square"></i>
      
        Agregar detalle
      </button>
      
      <button
        *ngIf="!modoLectura"
        (click)="modificarDetalles()"
        class="btn btn-success btn-sm"
        [disabled]="formulario.invalid || sending"
      >
        <i class="bx bxs-save"></i>
        Guardar cambios
      </button>
    </div>
    <table
      class="table table-striped table-hover table-sm table-bordered table-responsive"
      id="tableCompraInsumos"
    >
      <thead class="table-light">
        <tr>
          <th>Cantidad</th>
          <th>Unidad de Medida</th>
          <th>Descripción</th>
          <th>Observaciones</th>
          <th class="text-center" *ngIf= "solicitudCompra?.multiUnidad">AT</th>
          <th>Ref. fotográfica</th>
          <th>Rec</th>
          <th *ngIf = "modifica">Autorizado</th>
          <th *ngIf="mostrarTotal">Quitar</th>
          <th *ngFor = "let prov of cotProv" class="text-center"> <span><small> {{prov.proveedores_id.nombre}} </small></span></th>
        </tr>
      </thead>

      <tbody formArrayName="detalles">
        <!-- datos de la tabla detalle -->
        <tr
          *ngFor="let detalle of detalles.controls; let i = index"
          [formGroupName]="i"
        >
          <td style="width: 6.87rem">
            <input
              id="cantidad"
              name="cantidad"
              aria-label="cantidad"
              placeholder="Cantidad"
              min="1"
              type="number"
              formControlName="cantidad"
              class="form-control form-control-sm"
            />
            <!-- VALIDACIÓN -->
            <div
              *ngIf="
                getDetalleControl(i, 'cantidad').touched || submittedDetail
              "
            >
              <div
                class="text-danger form-text"
                *ngIf="getDetalleControl(i, 'cantidad').errors?.['required']"
              >
                Cantidad es requerido.
              </div>
            </div>
          </td>

          <td>
            <select
              id="unidadMedida"
              name="unidadMedida"
              aria-label="unidadMedida"
              formControlName="unidadMedida"
              class="form-select form-select-sm"
            >
              <option [ngValue]="null">Seleccione…</option>
              <option *ngFor="let u of unidadMedidas" [value]="u.id">
                {{ u.nombre }} ({{ u.abreviatura }})
              </option>
            </select>
            <div
              *ngIf="
                getDetalleControl(i, 'unidadMedida').touched || submittedDetail
              "
            >
              <div
                class="text-danger form-text"
                *ngIf="getDetalleControl(i, 'unidadMedida').errors?.['required']"
              >
                Unidad de Medida es requerido.
              </div>
            </div>
          </td>
          <td>
            <input
              id="descripcion"
              name="descripcion"
              aria-label="descripcion"
              placeholder="Descripcion"
              type="text"
              formControlName="descripcion"
              class="form-control form-control-sm"
              data-bs-toggle="tooltip" data-bs-placement="top" [attr.title]="getDetalleControl(i, 'descripcion')?.value"
            />
            <div
              *ngIf="
                getDetalleControl(i, 'descripcion').touched || submittedDetail
              "
            >
              <div
                class="text-danger form-text"
                *ngIf="getDetalleControl(i, 'descripcion').errors?.['required']"
              >
                Descripcion es requerido.
              </div>
            </div>
          </td>
          <td>
            <input
              id="observaciones"
              name="observaciones"
              aria-label="observaciones"
              placeholder="Observaciones"
              type="text"
              formControlName="observaciones"
              class="form-control form-control-sm"
              data-bs-toggle="tooltip" data-bs-placement="top" [attr.title]="getDetalleControl(i, 'observaciones')?.value"
            />
            <div
              *ngIf="
                getDetalleControl(i, 'observaciones').touched || submittedDetail
              "
            >
              <div
                class="text-danger form-text"
                *ngIf="getDetalleControl(i, 'observaciones').errors?.['required']"
              >
                Observaciones es requerido.
              </div>
            </div>
          </td>

          <td *ngIf="solicitudCompra?.multiUnidad" style="width: 3.5rem" (click)="copiarTexto(getDetalleControl(i, 'no_serie')?.value)" class="text-center">
            <span
             data-bs-toggle="tooltip" data-bs-placement="top" [attr.title]="getDetalleControl(i, 'no_serie')?.value">
              {{ getDetalleControl(i, 'autotanque')?.value }}
            </span>
          </td>


          <td style="width: 7.5rem" class="text-center">
            <a
              *ngIf="
                getDetalleControl(i, 'img_referencia')?.value;
                else elseBlock
              "
              href="javascript:void(0);"
              class="btn btn-info btn-sm"
              (click)="
                verReferencia(getDetalleControl(i, 'img_referencia')?.value)
              "
            >
              <i class="fas fa-eye"></i
            ></a>
          </td>
          <td style="width: 3rem" class="text-center">
            <span title="El costo de este insumo sera recuperado por el cliente"><i  *ngIf="detalle.get('recuperable')?.value == 1" class="fas fa-info-circle text-success"></i></span>
          </td>
          <td *ngIf="modifica" style="width: 6rem" class="text-center">
            <input
              type="checkbox"
              class=""
              [checked]="detalle.get('confirmado')?.value === 1"
              (change)="
                detalle
                  .get('confirmado')
                  ?.setValue($event.target.checked ? 1 : 0)
              "
            />
          </td>
          <td *ngIf="getDetalleControl(i, 'id')?.value === null" class="text-center">
            <button
              type="button"
              class="btn btn-danger btn-sm"
              (click)="eliminarDetalle(i)"
            >
            <i class="fas fa-trash-alt"></i>
            </button>
          </td>
          
          <td class="text-center" *ngFor="let prov of cotProv;">
            <span title="Precio unitario">
              <strong> {{+prov?.detalles[i]?.importe_unitario || 0 | currency}} </strong>
            </span>
          </td>
        </tr>
      </tbody>
      <tfoot *ngIf="cotProv.length > 0">
        <tr >
        <td [attr.colspan]="solicitudCompra.multiUnidad ? 8 : 7" class="text-end">
          <Strong> SUB-TOTAL (sin iva) </Strong>
        </td>
        <td
          *ngFor="let prov of cotProv"
          class="text-center"
          [ngClass]="{ 'text-danger': sumarDetalle(prov.detalles) > 50000 }"
        >
          <strong>
            {{ sumarDetalle(prov.detalles) | currency }}
          </strong>
        </td>
      </tr>
      <tr >
        <td [attr.colspan]="solicitudCompra.multiUnidad ? 8 : 7" class="text-end">
          <Strong>TOTAL</Strong>
        </td>
        <td
          *ngFor="let prov of cotProv"
          class="text-center"
          [ngClass]="{ 'text-danger': sumarDetalle(prov.detalles) > 50000 }"
        >
          <strong>
            {{  sumarDetalle(prov.detalles) * 1.16 | currency }}
          </strong>
        </td>
      </tr>
      </tfoot>
    </table>
  </form>
  <ng-template #elseBlock><i class="fas far fa-eye-slash"></i></ng-template>
</div>
  </div>
</div>


  <!-- Fin tabla detalle solicitud + precios cotizaciones -->
  <app-table-files-cotizaciones
    *ngIf="cotProv.length > 0"
    [tipo] = "tipo"
    [ordenCompra]="ordenCompra"
    [solicitudCompra]="solicitudCompra"
    [cotProv]="cotProv"
    [mostrarObs]="mostrarObs"    
  ></app-table-files-cotizaciones>
