<div *ngIf="(ordenCompra?.estatus === 2 && !ordenCompra?.tipo_pago) || solicitudCompra.estatus == enEsts.Autorizado">
        <app-btn-atorizar-a-pago
        [ordenCompra] = "ordenCompra" 
        (actualizarStatus1)="actualizadorEstatus()" >       
        </app-btn-atorizar-a-pago>
</div>

<app-panel-entregas
*ngIf="ordenCompra && ordenCompra?.estatus > 2"
  [ordenCompra] = "ordenCompra"
  (actualizarStatus1)="actualizadorEstatus()" 
></app-panel-entregas>

<div class="card border">
  <div class="card-header bg-primary text-center text-white" *ngIf="solicitudCompra.estatus >= enEsts.Autorizado && ordenCompra?.tipo_pago">
    <p *ngIf = "solicitudCompra.estatus != enEsts.Finalizada" class="m-0">
    <strong> Adjunta los siguientes archivos para la orden de compra: </strong>
    <strong>{{ ordenCompra?.folio_oc }}</strong>
  </p>
  </div>
  <div class="card-body">
    <form
class="row g-2"
[formGroup]="formDocsOrdenCompra"
*ngIf="solicitudCompra.estatus >= enEsts.Autorizado && ordenCompra?.tipo_pago"
>
<div class="col-md-1"></div>
<div class="col-md-10" *ngIf="ordenCompra">
  
  <table *ngIf = "solicitudCompra.estatus != enEsts.Finalizada" class="table table-sm table-borderless table-responsive">
    <thead class="table-light">
      <tr class="text-center">
        <th>Documento</th>
        <th >Subir archivo</th>
      </tr>
    </thead>

    <tbody class="text-center">
      <tr>
        <td>Factura <strong>.XML</strong> *</td>
        <td >
          <input
          *ngIf="hasComprobantePago && habilitado" class="form-control form-control-sm" id="factura_xml"
            type="file" (change)="onFileChange1($event, 'factura_xml')" formControlName="factura_xml" accept="text/xml"
          />
          <div *ngIf="ordenDocsCompraFormControl.factura_xml.touched || submitted">
            <div class="text-danger form-text" *ngIf="ordenDocsCompraFormControl.factura_xml.errors?.['required']">
            Ingresa la factura XML.
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Factura <strong>.PDF</strong> *</td>
        <td>
          <input *ngIf="hasComprobantePago && habilitado " class="form-control form-control-sm" id="factura_pdf"
            type="file" accept="application/pdf" (change)="onFileChange1($event, 'factura_pdf')" formControlName="factura_pdf"/>
          <div *ngIf="ordenDocsCompraFormControl.factura_pdf.touched || submitted">
            <div
              class="text-danger form-text" *ngIf="ordenDocsCompraFormControl.factura_pdf.errors?.['required']">
            Ingresa la factura PDF.
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <strong> Comprobante de pago * </strong>
        </td>
        <td >
          <input *ngIf="!hasComprobantePago" class="form-control form-control-sm" id="comprobante_pago" 
          type="file" accept="application/pdf,image/jpeg,image/png"
          (change)="onFileChange1($event, 'comprobante_pago')" formControlName="comprobante_pago"/>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="col-2"></div>
  <div class="row">
    <div class="col-12 d-flex justify-content-end gap-2">
      <button
        *ngIf="habilitado && hasComprobantePago && solicitudCompra.estatus < enEsts.Finalizada"
        type="submit" (click)="guardarArchivos()" class="btn btn-success btn-sm">
        <i class="fas fa-file-upload"></i>
        Guardar Archivos
      </button>
      <button *ngIf="!hasComprobantePago" type="submit" (click)="guardarComPago()" class="btn btn-warning btn-sm">
        <i class="fas fa-file-upload"></i>
        Guardar Archivos
      </button>
      <!-- <button *ngIf="hasComprobantePago && ordenCompra.documentos.length > 0 && solicitudCompra.estatus < enEsts.Finalizada"
        type="submit" (click)="marcarComoPagada()" class="btn btn-primary btn-sm">
        <i class="fas fa-check"></i>
        Marcar como pagada
      </button> -->
      <a *ngIf="hasFiles" class="btn btn-sm btn-info" (click)="descargarFacturas()">
        <i class="fas fa-cloud-download-alt"></i>
        Descargar Archivos
      </a>
    </div>
  </div>

  <hr />

  <!-- Visualizado de facturas XML -->
  <app-datos-facturas
  [mostrarDtsFac]="mostrarDtsFac"
  [ordenCompra]="ordenCompra"
  [factura]="factura"
  [metodoPago] = "metodoPago"
  (getOrdenCompra) = "getOrdenCompra()"
  ></app-datos-facturas>
</div>
</form>
  </div>
</div>





