<form
class="row g-2"
[formGroup]="formDocsOrdenCompra"
*ngIf="solicitudCompra.estatus >= enEsts.Autorizado"
>
<div class="col-md-1"></div>
<div class="col-md-10" *ngIf="ordenCompra">
  <div *ngIf = "solicitudCompra.estatus != enEsts.Pagada" class="alert alert-secondary text-center" role="alert">
    Adjunta los siguientes archivos para la orden de compra:
    <strong>{{ ordenCompra.folio_oc }}</strong>
  </div>
  <table *ngIf = "solicitudCompra.estatus != enEsts.Pagada" class="table table-sm table-borderless table-responsive">
    <thead class="table-light">
      <tr class="text-center">
        <th>Documento</th>
        <th >Subir archivo</th>
      </tr>
    </thead>

    <tbody class="text-center">
      <tr>
        <td>Factura <strong>.XML</strong> *</td>
        <td >
          <input
          *ngIf="hasComprobantePago && habilitado" class="form-control form-control-sm" id="factura_xml"
            type="file" (change)="onFileChange1($event, 'factura_xml')" formControlName="factura_xml" accept="text/xml"
          />
          <div *ngIf="ordenDocsCompraFormControl.factura_xml.touched || submitted">
            <div class="text-danger form-text" *ngIf="ordenDocsCompraFormControl.factura_xml.errors?.['required']">
            Ingresa la factura XML.
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Factura <strong>.PDF</strong> *</td>
        <td>
          <input *ngIf="hasComprobantePago && habilitado " class="form-control form-control-sm" id="factura_pdf"
            type="file" accept="application/pdf" (change)="onFileChange1($event, 'factura_pdf')" formControlName="factura_pdf"/>
          <div *ngIf="ordenDocsCompraFormControl.factura_pdf.touched || submitted">
            <div
              class="text-danger form-text" *ngIf="ordenDocsCompraFormControl.factura_pdf.errors?.['required']">
            Ingresa la factura PDF.
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <strong> Comprobante de pago * </strong>
        </td>
        <td >
          <input *ngIf="!hasComprobantePago" class="form-control form-control-sm" id="comprobante_pago" 
          type="file" accept="application/pdf,image/jpeg,image/png"
          (change)="onFileChange1($event, 'comprobante_pago')" formControlName="comprobante_pago"/>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="col-2"></div>
  <div class="row">
    <div class="col-10 d-flex gap-2">
      <button
        *ngIf="habilitado && hasComprobantePago && solicitudCompra.estatus < enEsts.Pagada"
        type="submit" (click)="guardarArchivos()" class="btn btn-success btn-sm">
        <i class="fas fa-file-upload"></i>
        Guardar Archivos
      </button>
      <button *ngIf="!hasComprobantePago" type="submit" (click)="guardarComPago()" class="btn btn-warning btn-sm">
        <i class="fas fa-file-upload"></i>
        Guardar Archivos
      </button>
      <button *ngIf="hasComprobantePago && ordenCompra.documentos.length > 0 && solicitudCompra.estatus < enEsts.Pagada"
        type="submit" (click)="marcarComoPagada()" class="btn btn-primary btn-sm">
        <i class="fas fa-check"></i>
        Marcar como pagada
      </button>
      <a *ngIf="hasFiles" class="btn btn-sm btn-info" (click)="descargarFacturas()">
        <i class="fas fa-cloud-download-alt"></i>
        Descargar Facturas
      </a>
    </div>
  </div>

  <hr />

  <!-- Visualizado de facturas XML -->
  <app-datos-facturas
  [mostrarDtsFac]="mostrarDtsFac"
  [ordenCompra]="ordenCompra"
  [factura]="factura"
  [metodoPago] = "metodoPago"
  (getOrdenCompra) = "getOrdenCompra()"
  ></app-datos-facturas>
</div>
</form>
