<div class="card rounded shadow-sm border">
  <div class="card-header text-center text-white bg-primary">
    <strong> Detalles de solicitud </strong>
  </div>
  <div class="card-body">
<div class="d-flex justify-content-center" *ngIf="isLoad">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <!-- Inicia tabla detalle solicitud + precios cotizaciones -->
  <div class="table-responsive">
    <table
    class="table table-sm table-hover rounded border"
    id="tableCompraInsumos"
    *ngIf="!isLoad"
  > 
    <thead class="table-light">
      <tr>
        <th>Cantidad</th>
        <th>U. Medida</th>
        <th>Descripción</th>
        <th>Observaciones</th>
        <th *ngIf = "solicitudCompra.multiUnidad" >AT</th>
        <th style="width: 3rem;">R. fot.</th>
        <th style="width: 3rem;" class="text-center"> <small>Autorizado</small> </th>
        <th style="width: 3rem;" class="text-center" title="El costo del insumo sera pagado por el cliente">Rec</th>
        <th *ngFor="let prov of cotProv" class="text-center">
          <div class="d-flex justify-content-between align-items-center">
    <strong>{{ prov.proveedores_id.nombre }}</strong>
    <div>
      <i title="Proveedor seleccionado" *ngIf="prov.seleccionado == 1" class="text-success bx bx-check-circle bx-burst"></i>
      <button
        class="btn btn-outline-dark btn-sm ms-2"
        title="Editar precios"
        (click)="habilitarEdicionProveedor(prov.proveedores_id.id)"
        *ngIf="solicitudCompra.estatus === enEsts.EnCotizacion && tienePermiso('view btn editar precios') && !mostrarObs"
      >
        <i class="fas fa-edit"></i>
      </button>
    </div>
  </div>


        </th>
      </tr>
    </thead>
    <tbody>
      <!-- datos de la tabla detalle -->
      <tr *ngFor="let row of detalles; let i = index">
        <td class="text-center"> {{row.cantidad}} </td>
        <td>
            {{ row.unidadMedida.nombre }} ({{ row.unidadMedida.abreviatura }})
    
        <td>
          {{row.descripcion}}
        </td>
        <td>
          {{ row.observaciones }}
        </td>
        <td *ngIf = "solicitudCompra.multiUnidad" >
          <span
             data-bs-toggle="tooltip" data-bs-placement="top" (click)="copiarTexto(row?.DetalleAutotanque?.DatosVehiculo?.eco || '' )" [attr.title]="row?.DetalleAutotanque?.DatosVehiculo?.no_serie || ''">
              {{ row?.DetalleAutotanque?.DatosVehiculo?.eco || null }}
            </span>
        </td>
        <td class="text-center">
          <a
            *ngIf="row.img_referencia; else elseBlock"
            href="javascript:void(0);"
            class="btn btn-info btn-sm"
            (click)="verReferencia(row.img_referencia)"
          >
            <i class="fas fa-eye"></i
          ></a>
        </td>
        <td class="text-center">
          <div>
            <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled" 
            (change) ="cambioCheck(row, $event)"
            [checked]="row.confirmado === 1 ? true : false" [disabled] = "solicitudCompra.estatus < enEsts.Solicitado ? false : true">
          </div>
        </td>
        <td class="text-center">
          <span [title]="row.recuperable == 1 ? 'El costo de este insumo sera recuperado por el cliente' : '' "><i class="fas" [ngClass]="{
          'fa-info-circle text-success': row.recuperable == 1,
          'fa-building text-primary': row.recuperable == 0}"></i>
          </span>
        </td>
        <td *ngFor="let prov of cotProv; let i = index">
          <!-- <td *ngFor="let prov of row.detalles"> -->
          <div *ngIf = "row.confirmado === 1" class="input-group input-group-sm">
            <span class="input-group-text">$</span>
            <input
              type="text"
              [(ngModel)]="row['precio_' + prov.proveedores_id.id]"   
              placeholder="Precio unitario"
              mask="separator"
              thousandSeparator=","
              class="form-control form-control-sm text-end"
              [disabled]="row['disabled_' + +prov.proveedores_id.id]"
              (input)="updateTotals()"
              title="Precio unitario"
            />
          </div>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="mostrarTotal">
      <tr >
        <td [attr.colspan]="solicitudCompra.multiUnidad ? 8 : 7" class="text-end">
          <Strong> SUB-TOTAL<small>(Sin IVA)</small></Strong>
        </td>
        <td
          *ngFor="let prov of cotProv"
          [ngClass]="{'bg-success-subtle text-success': totals['precio_' + prov.proveedores_id.id] === totalMasBajo}"
          class="text-end"
        >
          <strong>
            {{ totals["precio_" + prov.proveedores_id.id] | currency:'MXN':'symbol-narrow':'1.4-4'  }}
          </strong>
        </td>
      </tr>
      <tr >
        <td [attr.colspan]="solicitudCompra.multiUnidad ? 8 : 7" class="text-end">
          <Strong>TOTAL</Strong>
        </td>
        <td
          *ngFor="let prov of cotProv"
          [ngClass]="{'bg-success text-white': totals['precio_' + prov.proveedores_id.id] === totalMasBajo}"
          class="text-end"
        >
          <strong [title]="totals['precio_' + prov.proveedores_id.id] === totalMasBajo ? 'Este es el precio mas bajo' : ''">
            {{ totals["precio_" + prov.proveedores_id.id] * 1.16 | currency:'MXN':'symbol-narrow':'1.4-4' }}
          </strong>
        </td>
      </tr>
    </tfoot>
  </table>
  <div class="p-2 d-flex justify-content-end" *ngIf="tienePermiso('view btn save precios') && !mostrarObs">
    <button *ngIf= "solicitudCompra.estatus === enEsts.EnCotizacion && !isLoad" class="btn btn-sm btn-primary" (click)="guardarPrecios()">
       <ng-container *ngIf="!saving; else loadingGuardando">
        <i class="fas fa-money-check-alt"></i> Guardar Precios
      </ng-container>
      <ng-template #loadingGuardando>
          <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
          Guardando...
      </ng-template>
    </button>
    </div>
  </div>
  <!-- form para actualizar o quitar detalles -->

  <ng-template #elseBlock ><i class="fas far fa-eye-slash"></i></ng-template>
  </div>
</div>
  
  <!-- Fin tabla detalle solicitud + precios cotizaciones -->
  <app-table-files-cotizaciones
    *ngIf="(mostrarTotal && solicitudCompra.estatus > enEsts.Solicitado)"
    [tipo] = "tipo"
    [ordenCompra]="ordenCompra"
    [solicitudCompra]="solicitudCompra"
    [cotProv]="cotProv"
    [saving]="saving"
    [mostrarObs]="mostrarObs"    
    (savePrices)="guardarPrecios()"
    (actualizarDetalles)="getDetalles()"
    (actualizarStatus)="actualizarStatus.emit()"
    (selectCotizacion)="manejoCheck($event)"
  ></app-table-files-cotizaciones>
