<div class="card border">
  <div class="card-header text-center text-white bg-primary">
    <strong> Detalles de solicitud </strong>
  </div>
  <div class="card-body">
<div class="d-flex justify-content-center" *ngIf="isLoad">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <!-- Inicia tabla detalle solicitud + precios cotizaciones -->
  <div class="table-responsive">
    <table
    class="table table-striped table-hover table-sm table-bordered table-responsive"
    id="tableCompraInsumos"
    *ngIf="!isLoad"
  > 
    <thead class="table-light">
      <tr>
        <th>Cantidad</th>
        <th>U. Medida</th>
        <th>Descripción</th>
        <th>Observaciones</th>
        <th *ngIf = "solicitudCompra.multiUnidad" >AT</th>
        <th style="width: 3rem;">R. fot.</th>
        <th style="width: 3rem;" class="text-center">Autorizado</th>
        <th style="width: 3rem;" class="text-center" title="El costo del insumo sera pagado por el cliente">Rec</th>
        <th *ngFor="let prov of cotProv" class="text-center">
          <strong> {{ prov.proveedores_id[0].nombre }} </strong>
          <button
              class="btn btn-warnign btn-sm"
              title="Editar precios"
              (click)="habilitarEdicionProveedor(prov.proveedores_id[0].id)"
              *ngIf= "solicitudCompra.estatus === enEsts.EnCotizacion && tienePermiso('view btn save precios') && !mostrarObs"
            >
              <i class="fas fa-edit"></i>
            </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <!-- datos de la tabla detalle -->
      <tr *ngFor="let row of detalles; let i = index">
        <td class="text-center"> {{row.cantidad}} </td>
        <td>
            {{ row.unidadMedida.nombre }} ({{ row.unidadMedida.abreviatura }})
    
        <td>
          {{row.descripcion}}
        </td>
        <td>
          {{ row.observaciones }}
        </td>
        <td *ngIf = "solicitudCompra.multiUnidad" >
          <span
             data-bs-toggle="tooltip" data-bs-placement="top" (click)="copiarTexto(row?.DetalleAutotanque?.DatosVehiculo?.eco || '' )" [attr.title]="row?.DetalleAutotanque?.DatosVehiculo?.no_serie || ''">
              {{ row?.DetalleAutotanque?.DatosVehiculo?.eco || null }}
            </span>
        </td>
        <td class="text-center">
          <a
            *ngIf="row.img_referencia; else elseBlock"
            href="javascript:void(0);"
            class="btn btn-info btn-sm"
            (click)="verReferencia(row.img_referencia)"
          >
            <i class="fas fa-eye"></i
          ></a>
        </td>
        <td class="text-center d-flex justify-content-center">
          <div>
            <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled" 
            (change) ="cambioCheck(row, $event)"
            [checked]="row.confirmado === 1 ? true : false" [disabled] = "solicitudCompra.estatus < enEsts.Solicitado ? false : true">
          </div>
        </td>
        <td class="text-center">
          <span title="El costo de este insumo sera recuperado por el cliente"><i  *ngIf="row.recuperable == 1" class="fas fa-info-circle text-success"></i></span>
        </td>
        <td *ngFor="let prov of cotProv; let i = index">
          <!-- <td *ngFor="let prov of row.detalles"> -->
          <div *ngIf = "row.confirmado === 1" class="input-group input-group-sm col-sm">
            <span class="input-group-text">$</span>
            <input
              type="text"
              [(ngModel)]="row['precio_' + prov.proveedores_id[0].id]"   
              placeholder="Precio"
              mask="separator"
              thousandSeparator=","
              class="form-control form-control-sm"
              [disabled]="row['disabled_' + +prov.proveedores_id[0].id]"
              (input)="updateTotals()"
            />
          </div>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="mostrarTotal">
      <tr >
        <td [attr.colspan]="solicitudCompra.multiUnidad ? 8 : 7" class="text-end">
          <Strong> SUB-TOTAL (sin iva) </Strong>
        </td>
        <td
          *ngFor="let prov of cotProv"
          [ngClass]="{'bg-success text-white': totals['precio_' + prov.proveedores_id[0].id] === totalMasBajo}"
          class="text-center"
        >
          <strong>
            {{ totals["precio_" + prov.proveedores_id[0].id] | currency }}
          </strong>
        </td>
      </tr>
      <tr >
        <td [attr.colspan]="solicitudCompra.multiUnidad ? 8 : 7" class="text-end">
          <Strong>TOTAL</Strong>
        </td>
        <td
          *ngFor="let prov of cotProv"
          [ngClass]="{'bg-primary text-white': totals['precio_' + prov.proveedores_id[0].id] === totalMasBajo}"
          class="text-center"
        >
          <strong>
            {{ totals["precio_" + prov.proveedores_id[0].id] * 1.16 | currency }}
          </strong>
        </td>
      </tr>
    </tfoot>
  </table>
  <div class="p-2 d-flex justify-content-end" *ngIf="tienePermiso('view btn save precios') && !mostrarObs">
      <!-- <button *ngIf = "solicitudCompra.estatus < 3" class="btn btn-sm btn-warning" (click)="modificarDetalles()">
      ACTUALIZAR DETALLES
    </button> -->
    <button *ngIf= "solicitudCompra.estatus === enEsts.EnCotizacion && !isLoad" class="btn btn-sm btn-primary" (click)="guardarPrecios()">
      <!-- <i class="fas fa-money-check-alt"></i> Guardar Precios -->
       <ng-container *ngIf="!saving; else loadingGuardando">
        <i class="fas fa-money-check-alt"></i> Guardar Precios
      </ng-container>
      <ng-template #loadingGuardando>
          <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
          Guardando...
      </ng-template>
    </button>
    </div>
  </div>
  <!-- form para actualizar o quitar detalles -->

  <ng-template #elseBlock ><i class="fas far fa-eye-slash"></i></ng-template>
  </div>
</div>
  
  <!-- Fin tabla detalle solicitud + precios cotizaciones -->
  <app-table-files-cotizaciones
    *ngIf="(mostrarTotal && solicitudCompra.estatus > enEsts.Solicitado)"
    [tipo] = "tipo"
    [ordenCompra]="ordenCompra"
    [solicitudCompra]="solicitudCompra"
    [cotProv]="cotProv"
    [saving]="saving"
    [mostrarObs]="mostrarObs"    
    (savePrices)="guardarPrecios()"
    (actualizarDetalles)="getDetalles()"
    (actualizarStatus)="actualizarStatus.emit()"
    (selectCotizacion)="manejoCheck($event)"
  ></app-table-files-cotizaciones>
