<!-- financiamiento-form.component.html -->

<form [formGroup]="form">
    <div class="row">
         <!-- No Contrato -->
      <div class="mb-2 col-lg-4">
        <label class="form-label">No. Contrato</label>
        <input type="text" class="form-control form-control-sm"
               placeholder="No. Contrato" formControlName="no_contrato">
        <div class="text-danger small"
             *ngIf="form.get('no_contrato')?.touched && form.get('no_contrato')?.invalid">
          Campo requerido
        </div>
      </div>

      <!-- Factura -->
      <div class="mb-2 col-lg-4">
        <label class="form-label">Número de Factura</label>
        <input type="text" class="form-control form-control-sm"
               placeholder="Número de Factura"
               formControlName="numero_factura">
              <div class="text-danger small"
             *ngIf="form.get('numero_factura')?.touched && form.get('numero_factura')?.invalid">
          Campo requerido
        </div>
      </div>

      <!-- Fecha -->
      <div class="mb-2 col-lg-4">
        <label class="form-label">Fecha Desembolso</label>
        <input type="date" class="form-control form-control-sm"
               formControlName="fecha_desembolso">
              <div class="text-danger small"
             *ngIf="form.get('fecha_desembolso')?.touched && form.get('fecha_desembolso')?.invalid">
          Campo requerido
        </div>
      </div>

      

      <!-- datos venta -->
      <div class="mb-2" *ngIf="dataVenta; else noData">
        <div class="row">
          <div class="col-lg-4">
            <strong>Cliente: </strong>{{dataVenta.razon_social}}
          </div>
          <div class="col-lg-4">
            <strong>Unidad: </strong>{{dataVenta.descripcion}}
          </div>
          <div class="col-lg-4">
            <strong>Serie: </strong>{{dataVenta.serie}}
          </div>
        </div>
      </div>

      <!-- Template alternativo -->
      <ng-template #noData>
        <div class="text-center text-muted p-2">
          Datos de venta no disponibles
        </div>
      </ng-template>
       

      <!-- Monto -->
      <div class="mb-2 col-lg-4">
        <label class="form-label">Monto a Financiar</label>
        <input mask="separator" thousandSeparator=","  type="text" placeholder="Monto a Financiar" prefix= "$ " class="form-control form-control-sm"
               formControlName="monto_financiar">
        <div class="text-danger small"
             *ngIf="form.get('monto_financiar')?.touched && form.get('monto_financiar')?.invalid">
          Campo requerido
        </div>               
      </div>

      <!-- Incentivo -->
      <div class="mb-2 col-lg-4">
        <label class="form-label">Incentivo Dealer</label>
        <input mask="separator" thousandSeparator=","  type="text" placeholder="Incentivo Dealer" prefix= "$ "  class="form-control form-control-sm"
               formControlName="incentivo_dealer">
        <div class="text-danger small"
             *ngIf="form.get('incentivo_dealer')?.touched && form.get('incentivo_dealer')?.invalid">
          Campo requerido
        </div>
      </div>

      <!-- % Asesor -->
      <div class="mb-2 col-lg-4">
        <label class="form-label">Porcentaje Asesor</label>
        <input type="number" mask="separator" thousandSeparator=","  type="text" placeholder="% Asesor" suffix="%" 
               class="form-control form-control-sm"
               formControlName="porcentaje_asesor">
        <div class="text-danger small"
             *ngIf="form.get('porcentaje_asesor')?.touched && form.get('porcentaje_asesor')?.invalid">
          Campo requerido
        </div>
      </div>

      <!-- Comisión -->
      <div class="mb-2">
        <label class="form-label">Comisión (calculada)</label>
        <input mask="separator" thousandSeparator=","  type="text" placeholder="Comisión (calculada)" prefix= "$" class="form-control form-control-sm bg-light"
               formControlName="comision_asesor_pesos" readonly>
      </div>

      <!-- Vendedor -->
      <div class="mb-2">
        <label class="form-label">Vendedor</label>
        <select class="form-select form-select-sm"
                formControlName="com_vendedores_id">
          <option selected disabled value="">Seleccione...</option>
          <option *ngFor="let v of vendedores" [value]="v.id">
            {{v.nro_vendedor_as}}-{{v.clave}}-{{ v.nombre }}
          </option>
        </select>

        <div class="text-danger small"
             *ngIf="form.get('com_vendedores_id')?.touched && form.get('com_vendedores_id')?.invalid">
          Campo requerido
        </div>
      </div>

      <div class="mb-2">
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Observaciones</label>
          <textarea formControlName="observaciones" class="form-control" rows="3"></textarea>
        </div>
      </div>

      <!-- Tipo -->
      <!-- <div class="mb-3">
        <label class="form-label">Tipo de Financiamiento</label>
        <input type="text" class="form-control form-control-sm"
               formControlName="tipo_financiamiento">
      </div> -->

      <!-- Archivo -->
      <div class="mb-3">
        <label class="form-label">Archivo</label>
        <input type="file"
              formControlName="archivo"
                class="form-control form-control-sm"
                (change)="onFileChange($event)">
        </div>
        <div class="text-danger small"
             *ngIf="form.get('archivo')?.touched && form.get('archivo')?.invalid">
          Campo requerido
        </div>
    </div>
     

    </form>
