<!-- toma-unidad-form.component.html -->
<form [formGroup]="form">
  <div class="row">

    <!-- Por Inventario -->
    <div class="mb-2 col-lg-4">
      <label class="form-label">Inventario</label>
      <input type="text" class="form-control form-control-sm"
             placeholder="Inventario"
             formControlName="por_inventario">
      <div class="text-danger small"
           *ngIf="form.get('por_inventario')?.touched && form.get('por_inventario')?.invalid">
        El campo Inventario es requerido
      </div>
    </div>

        <!-- Fecha Toma -->
    <div class="mb-2 col-lg-4">
      <label class="form-label">Fecha Toma</label>
      <input type="date" class="form-control form-control-sm"
             formControlName="fecha_toma">
      <div class="text-danger small"
           *ngIf="form.get('fecha_toma')?.touched && form.get('fecha_toma')?.invalid">
        El campo Fecha Toma es requerido
      </div>
    </div>

    <!-- Vehículo -->
    <div class="mb-2 col-lg-4">
      <label class="form-label">Vehículo</label>
      <input type="text" class="form-control form-control-sm"
             placeholder="Vehículo"
             formControlName="vehiculo">
      <div class="text-danger small"
           *ngIf="form.get('vehiculo')?.touched && form.get('vehiculo')?.invalid">
        El campo Vehículo es requerido
      </div>
    </div>

    <!-- Número de Serie -->
    <div class="mb-2 col-lg-4">
      <label class="form-label">Número de Serie</label>
      <input type="text" class="form-control form-control-sm"
             placeholder="Número de Serie"
             formControlName="numero_serie">
      <div class="text-danger small"
           *ngIf="form.get('numero_serie')?.touched && form.get('numero_serie')?.invalid">
        El campo Número de Serie es requerido
      </div>
    </div>

        <!-- Importe -->
    <div class="mb-2 col-lg-4">
      <label class="form-label">Importe</label>
      <input mask="separator" thousandSeparator="," type="text"
             placeholder="Importe"
             prefix="$ " class="form-control form-control-sm"
             formControlName="comision_apv_pesos">
      <div class="text-danger small"
           *ngIf="form.get('comision_apv_pesos')?.touched && form.get('comision_apv_pesos')?.invalid">
        El campo Importe es requerido
      </div>
    </div>

    <!-- Tipo APV -->
    <div class="mb-2 col-lg-4">
      <label class="form-label">Tipo APV</label>
      <input type="text" class="form-control form-control-sm"
             placeholder="Tipo APV"
             formControlName="tipo_apv">
      <div class="text-danger small"
           *ngIf="form.get('tipo_apv')?.touched && form.get('tipo_apv')?.invalid">
        El campo Tipo APV es requerido
      </div>
    </div>





    <!-- Observaciones -->
    <div class="mb-2">
      <label class="form-label">Observaciones</label>
      <textarea formControlName="observaciones" class="form-control" rows="3"></textarea>
      <div class="text-danger small"
           *ngIf="form.get('observaciones')?.touched && form.get('observaciones')?.invalid">
        El campo Observaciones es requerido
      </div>
    </div>

  </div>
</form>