<div *ngIf="mostrarDtsFac">
    <div class="row" *ngIf="ordenCompra.documentos[0].ruta_xml_factura">
      <h5>Datos de facturación</h5>

      <div class="col-6">
        <h5><strong>RECEPTOR</strong></h5>
        <p><strong>RFC:</strong> {{ factura.receptor?.rfc }}</p>
        <p><strong>NOMBRE: </strong> {{ factura.receptor?.nombre }}</p>
        <p><strong>USO CFDI: </strong> {{ factura.receptor?.usoCFDI }}</p>
        <p>
          <strong>DOMICILIO FISCAL</strong>
          {{ factura.receptor?.domicilioFiscalReceptor }}
        </p>
      </div>
      <div class="col-6">
        <h5><strong>EMISOR: </strong></h5>
        <p><strong>RFC: </strong> {{ factura.emisor?.rfc }}</p>
        <p><strong>NOMBRE: </strong> {{ factura.emisor?.nombre }}</p>
        <p>
          <strong>REGIMEN FISCAL: </strong>
          {{ factura.emisor?.regimenFiscal }}
        </p>
        <p>
          <strong>MET. PAGO: </strong> {{ factura.metodoPago?.metodoPago }}
        </p>
      </div>
      <table
        class="text-center table table-sm table-borderless table-responsive"
      >
        <thead class="table-light">
          <tr>
            <th>FECHA</th>
            <th>FOLIO</th>
            <th>SERIE</th>
            <th>SUB TOTAL</th>
            <th>TOTAL</th>
            <th>MONEDA</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let comprobante of factura.comprobantes">
            <td>{{ comprobante.fecha }}</td>
            <td>{{ comprobante.folio }}</td>
            <td>{{ comprobante.serie }}</td>
            <td>$ {{ comprobante.subTotal }}</td>
            <td>$ {{ comprobante.total }}</td>
            <td>{{ comprobante.moneda }}</td>
          </tr>
        </tbody>
        <tfoot>
          <td colspan="3" class="text-end"><strong> Totales: </strong></td>
          <td>
            <strong>$ {{ factura.sumaSubTotal }}</strong>
          </td>
          <td>
            <strong>$ {{ factura.sumaTotal }} </strong>
          </td>
        </tfoot>
      </table>
      <br />
      <hr />
    </div>
  </div>