
<div class="container-fluid rounded-3 pt-1">
  <div *ngIf="isLoad" class="text-center">
    <div class="spinner-border text-primary" role="status"></div>
  </div>

  <div *ngIf="!isLoad" class="d-flex flex-row overflow-auto pb-3">
    <!-- Columnas -->
    <div
      *ngFor="let estado of estados"
      [hidden]=" !tienePermiso(estado.permiso)"
      class="me-3 bg-light border rounded-4 shadow-sm flex-shrink-0"
      style="min-width: 320px;"
    >
      <!-- Encabezados-->
      <div
        class="p-2 mx-2 mt-1 mb-3 text-white rounded-4 text-center fw-bold d-flex justify-content-between align-items-center"
        [ngClass]="estado.color"
      >
        <span class="text-start flex-grow-1">{{ estado.nombre }}</span>
        <span class="badge bg-light text-dark ms-2">
          <strong> {{ datosAgrupados[estado.nombre]?.length || 0 }} </strong>
        </span>
      </div>

      <!-- Contenedor Drag & Drop -->
      <div
        class="p-2"
        style="max-height: 62vh; overflow-y: auto;"
      >
        <div
          *ngIf="datosAgrupados[estado.nombre]?.length === 0"
          class="text-muted small text-center py-3"
        >
          <em>Aun no hay solicitudes</em>
        </div>

        <!--Card-->
        <div
          *ngFor="let item of datosAgrupados[estado.nombre]; trackBy: trackBySolicitud"
          class="card mb-2 border-0 shadow-sm rounded-4"
          role="button"
          cdkDrag
          (dblclick)="openDetallesSolicitud(item, $event)"
        >
        <!-- <span *ngIf="item.estatus != '4' && item.estatus != '14'" title="Dias desde el ultimo cambio" class="position-absolute top-0 start-10 translate-middle badge rounded-pill" [ngClass]="getColorPorDias(item.fecha)" >{{ diferenciaEnDias(item.fecha) }}<span class="visually-hidden"></span></span> -->
          <div class="card-body p-2">
            <!-- Folio de solicitud, folio de orden de compra, vistas rápidas -->
            <div class="d-flex justify-content-between align-items-start">
              <h6 class="mb-0 gap-1"> 
                <strong> {{ item.folio }} </strong>
                <a
                  *ngIf="item.folio_oc && tienePermiso('view btn descargar orden') && item.folio_oc != '-'"
                  [title]="'Vista previa de la orden de compra'"
                  class="badge font-size-11 bg-primary-subtle text-primary"
                  style="cursor: pointer"
                  (click)="openModalOC(item)"
                >
                  <strong> {{ item.folio_oc }} </strong>
                </a>
                <small class="text-danger fw-bold"  *ngIf ="item.requiere_anticipo" > <i class="fas fa-dot-circle"></i> </small>
              </h6>
              <div>
                <i 
                  title="Requiere autorización" 
                  class="fas fa-signature px-2 text-danger" 
                  *ngIf="validarAutorizaciones(item)"
                ></i>
                <i
                  style="font-size: 1rem;"
                  class="fas fa-info-circle text-primary"
                  (click)="openModalSeguimiento(item)"
                  title="Ver seguimiento"
                ></i>
              </div>
            </div>

            <!-- Información de solicitud -->
            <p class="mb-1"><strong> {{ item.empresa || 'No disponible' }} </strong></p>
            <p class="text-muted mb-1 small"><strong>Solicita:</strong> {{ item.usuario_solicita }}</p>
            <p class="text-muted mb-1 small text-truncate">
              <strong>Destino:</strong>
              {{ item.c_c > 0 ? item.centro_costo : item.usuario_destino.substring(0, 42) }} {{ item.usuario_destino.length > 42 ? '...' : '' }}
            </p>
            <p class="mb-1 small"><strong> {{ item.fecha }} </strong></p>

            <!-- Proveedor Seleccionado -->
            <p *ngIf="item.proveedor != '-' " class="text-muted mb-1 small text-truncate">
              <strong>Proveedor:</strong> {{ item.proveedor.substring(0, 42) }} {{ item.proveedor.length > 42 ? '...' : '' }}
            </p>

            <!-- Información de pagos -->
            <div class="d-flex justify-content-between align-items-center">
              <span *ngIf ="item.modo_pago != null" [title]="'Modo de pago'"
                class="badge small pt-1 font-size-11 bg-primary-subtle text-primary">
                <strong>{{ item.modo_pago }}</strong>
              </span>
              <span class="badge small pt-1 font-size-11 bg-dark-subtle text-dark" *ngIf="item.folio_oc &&  tienePermiso('view total orden') && +item.total_orden >= 0 && item.folio_oc != '-'">
                <strong title="Total Facturado" *ngIf="item.facturas_xml > 0"> F: {{ item.total_facturas || 0 | currency }} - </strong>
                <strong title="Total Orden Compra">  OC: {{ item.total_orden | currency }} </strong></span>
            </div>
            <!-- Cantidad de documentos cargados -->
            <div *ngIf="item.folio_oc && item.folio_oc != '-' && item.estatus != '5'" class="d-flex justify-content-around aling-items-center border mt-1 p-1 rounded-pill bg-light-subtle">
              <span [ngClass] = "{'text-success': item.surtido > 0, 'text-danger': !item.vencido && item.surtido == 0 }"     class="fw-bold"><i title="Entregas"            class="fas fa-box-open"></i>{{ ' ' + item.surtido}}</span> 
              <span [ngClass] = "{'text-success': item.facturas_xml > 0}"       class="fw-bold"><i title="Facturas"            class="fas fa-file-invoice" ></i> {{ ' ' + item.facturas_xml}} </span> 
              <span [ngClass] = "{'text-success': item.comprobantes_pago > 0}"  class="fw-bold"><i title="Pagos"               class="fas fa-money-bill-wave" > </i> {{' ' + item.comprobantes_pago}} </span> 
              <span *ngIf="item.modo_pago == 'CREDITO'" [ngClass] = "{'text-success': item.complementos_pago > 0}"  class="fw-bold"><i title="Complemento de pago"  class="fas fa-file-invoice-dollar"></i> {{' ' + item.complementos_pago}}</span> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

