<div class="modal-header">
    <h5 class="modal-title">Modulos</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (onClick)="cerrarModal()"></button>
</div>
<div class="modal-body">
    
    <form [formGroup]="formModalModulo">
        <div class="row">
          
          <!-- Marca -->
          <div class="col-sm-12 col-md-12 mb-2">
            <div class="form-group">
              <label class="form-label requerido">Nombre: *</label>
              <div>
                <input
                  class="form-control form-control-sm ng-dirty !ng-invalid"
                  formControlName="nombre"
                  placeholder="Ingresar Marca"
                  maxlength="255"
                  [style]="{ width: '100%' }"
                />
              </div>
              <div class="text-danger">
                <div *ngIf="formModalModulo.controls['nombre'].errors?.required">
                  {{ this.mensajeCampoRequerido }}
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-12">
            <div class="form-group">
              <label class="form-label requerido">Descripción: *</label>
              <div>
                <input
                  class="form-control form-control-sm ng-dirty !ng-invalid"
                  formControlName="descripcion"
                  placeholder="Ingresar Descripción"
                  maxlength="255"
                  [style]="{ width: '100%' }"
                />
              </div>
              <div class="text-danger">
                <div *ngIf="formModalModulo.controls['descripcion'].errors?.required">
                  {{ this.mensajeCampoRequerido }}
                </div>
              </div>
            </div>
          </div>
        </div>
    </form>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal" (onClick)="cerrarModal()">Cerrar</button>
    <button
        [disabled]="formModalModulo.invalid"
        *ngIf="tipo == 'agregar'"
        class="btn btn-primary btn-sm"
        type="submit"
        (click)="save()"
      >
        <i class="fa fa-check-circle"></i> Guardar
      </button>

      <button
        [disabled]="formModalModulo.invalid"
        *ngIf="tipo != 'agregar'"
        class="btn btn-primary btn-sm"
        type="submit"
        (click)="update()"
      >
        <i class="fa fa-check-circle"></i> Guardar
      </button>

      <button
        [disabled]="formModalModulo.invalid"
        *ngIf="tipo != 'agregar'"
        class="btn btn-danger btn-sm"
        type="submit"
        (click)="delete()"
      >
        <i class="fa fa-check-circle"></i> Eliminar
      </button>
</div>
