<form [formGroup]="form">
  <div class="row">
    
    <!-- Folio -->
    <div class="mb-2 col-lg-4">
      <label class="form-label">Folio</label>
      <input type="text" class="form-control form-control-sm"
             formControlName="folio">
      <div class="text-danger small"
           *ngIf="form.get('folio')?.touched && form.get('folio')?.invalid">
        El folio es obligatorio
      </div>
    </div>

    <!-- Póliza -->
    <div class="mb-2 col-lg-4">
      <label class="form-label">Póliza</label>
      <input type="text" class="form-control form-control-sm"
             formControlName="poliza">
      <div class="text-danger small"
           *ngIf="form.get('poliza')?.touched && form.get('poliza')?.invalid">
        La póliza es obligatoria
      </div>
    </div>

    <!-- Aseguradora -->
    <div class="mb-2 col-lg-4">
      <label class="form-label">Aseguradora</label>
      <select class="form-select form-select-sm"
          formControlName="aseguradora">
        <option value="" disabled selected>Seleccione una aseguradora</option>
        <option *ngFor="let aseguradora of aseguradoras"
                [value]="aseguradora">
          {{ aseguradora }}
        </option>

      </select>
      <div class="text-danger small"
           *ngIf="form.get('aseguradora')?.touched && form.get('aseguradora')?.invalid">
        La aseguradora es obligatoria
      </div>
    </div>

    <!-- Serie -->
    <div class="mb-2 col-lg-4">
      <label class="form-label">Serie</label>
      <input type="text" class="form-control form-control-sm"
             formControlName="serie">
      <div class="text-danger small"
           *ngIf="form.get('serie')?.touched && form.get('serie')?.invalid">
        La serie es obligatoria
      </div>
    </div>

    <!-- Nombre -->
    <div class="mb-2 col-lg-4">
      <label class="form-label">Nombre</label>
      <input type="text" class="form-control form-control-sm"
             formControlName="nombre">
      <div class="text-danger small"
           *ngIf="form.get('nombre')?.touched && form.get('nombre')?.invalid">
        El nombre es obligatorio
      </div>
    </div>

    <!-- Unidad -->
    <div class="mb-2 col-lg-4">
      <label class="form-label">Unidad</label>
      <input type="text" class="form-control form-control-sm"
             formControlName="unidad">
      <div class="text-danger small"
           *ngIf="form.get('unidad')?.touched && form.get('unidad')?.invalid">
        La unidad es obligatoria
      </div>
    </div>

    

    <!-- Fecha emisión -->
    <div class="mb-2 col-lg-4">
      <label class="form-label">Fecha Emisión</label>
      <input type="date" class="form-control form-control-sm"
             formControlName="fecha_emision">
      <div class="text-danger small"
           *ngIf="form.get('fecha_emision')?.touched && form.get('fecha_emision')?.invalid">
        La fecha de emisión es obligatoria
      </div>
    </div>

    <!-- Forma de pago -->
    <div class="mb-2 col-lg-4">
      <label class="form-label">Forma de pago</label>
      <input type="text" class="form-control form-control-sm"
             formControlName="forma_pago">
      <div class="text-danger small"
           *ngIf="form.get('forma_pago')?.touched && form.get('forma_pago')?.invalid">
        La forma de pago es obligatoria
      </div>
    </div>

    <!-- Prima neta -->
    <div class="mb-2 col-lg-4">
      <label class="form-label">Prima Neta</label>
      <input mask="separator" thousandSeparator=","
             prefix="$ "
             type="text"
             class="form-control form-control-sm"
             formControlName="prima_neta">
      <div class="text-danger small"
           *ngIf="form.get('prima_neta')?.touched && form.get('prima_neta')?.invalid">
        La prima neta es obligatoria
      </div>
    </div>

    <!-- VS -->
    <div class="mb-2 col-lg-4">
      <label class="form-label">VS</label>
      <input mask="separator" thousandSeparator=","
             prefix="$ "
             type="text"
             class="form-control form-control-sm"
             formControlName="vs" readonly>
      <div class="text-danger small"
           *ngIf="form.get('vs')?.touched && form.get('vs')?.invalid">
        El valor VS es obligatorio
      </div>
    </div>

    <!-- Comisión -->
    <div class="mb-2 col-lg-4">
      <label class="form-label">Comisión APV</label>
      <input mask="separator" thousandSeparator=","
             prefix="$ "
             type="text"
             class="form-control form-control-sm bg-light"
             formControlName="comision_apv_pesos"
             readonly>
    </div>

    <!-- Comisión -->
    <div class="mb-2 col-lg-4">
    <input type="checkbox"
         class="form-check-input me-2"
         formControlName="calcular_encargado_seg"
         id="chkEncargado">
      <label class="form-label"> Calcular Comisión Enc. Seg</label>
      <input mask="separator" thousandSeparator=","
             prefix="$ "
             type="text"
             class="form-control form-control-sm bg-light"
             formControlName="com_encargado_seg"
             readonly>
    </div>

    <!-- Archivo -->
      <div class="mb-3">
        <label class="form-label">Archivo</label>
        <input type="file"
              formControlName="archivo"
                class="form-control form-control-sm"
                (change)="onFileChange($event)">
        <div class="text-danger small"
             *ngIf="form.get('archivo')?.touched && form.get('archivo')?.invalid">
            El archivo es requerido
        </div>
        </div>
        
    <!-- Observaciones -->
    <div class="mb-2 col-lg-12">
      <label class="form-label">Observaciones</label>
      <textarea class="form-control"
                rows="3"
                formControlName="observaciones"></textarea>
    </div>

  </div>
</form>
<!-- Botón para agregar al array -->
<div class="d-flex justify-content-end mt-2 mb-4">
  <button type="button" class="btn btn-primary btn-sm" (click)="agregarItem()">
   <i class="fas fa-plus"></i>Agregar
  </button>
</div>

<!-- Tabla de items agregados -->
<div *ngIf="items.length > 0">
  <h6 class="mb-2">
    Toma de unidades agregadas
    <span class="badge bg-primary ms-1">{{ items.length }}</span>
  </h6>

  <div class="table-responsive">
    <table class="table table-sm table-bordered align-middle">
      <thead class="table-light">
        <tr>
          <!-- <th>#</th> -->
          <th>Folio</th>
          <th>Poliza</th>
          <th>Nombre</th>
          <th>Unidad</th>
          <th>Serie</th>
          <th>Prima Neta</th>
          <th>Comision APV</th>
          <th>Archivos</th>
          <th>-</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <!-- <td>{{ item.index }}</td> -->
          <td>{{ item.formData?.folio }}</td>
          <td>{{ item.formData?.poliza}}</td>
          <td>{{ item.formData?.nombre  }}</td>
          <td>{{ item.formData?.unidad}}</td>
          <td>{{ item.formData?.serie}}</td>
          <td>{{ item.formData?.prima_neta ?? 0 | currency }}</td>
          <td>{{ item.formData?.comision_apv_pesos ?? 0 | currency }}</td>
          <td>
            <span class="badge bg-success">{{ item.archivo?.name ?? 'No aplica' }}</span>
          </td>
          <td>
            <button type="button" class="btn btn-outline-danger btn-sm"
                    (click)="quitarItem(item.index)">
              <i class="fas fa-trash-alt"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>