<form [formGroup]="form">
  <div class="row">

    <!-- Vendedor -->
    <!-- <div class="mb-2 col-lg-12">
      <label class="form-label">Vendedor</label>
      <select class="form-select form-select-sm"
              formControlName="com_vendedores_id">
        <option selected disabled value="">Seleccione...</option>
        <option *ngFor="let v of vendedores" [value]="v.id">
          {{v.nro_vendedor_as}}-{{v.clave}}-{{ v.nombre }}
        </option>
      </select>

      <div class="text-danger small"
           *ngIf="form.get('com_vendedores_id')?.touched && form.get('com_vendedores_id')?.invalid">
        Campo requerido
      </div>
    </div> -->

    <!-- Folio -->
    <div class="mb-2 col-lg-4">
      <label class="form-label">Folio</label>
      <input type="text" class="form-control form-control-sm"
             formControlName="folio">
      <div class="text-danger small"
           *ngIf="form.get('folio')?.touched && form.get('folio')?.invalid">
        Campo requerido
      </div>
    </div>

    <!-- Póliza -->
    <div class="mb-2 col-lg-4">
      <label class="form-label">Póliza</label>
      <input type="text" class="form-control form-control-sm"
             formControlName="poliza">
      <div class="text-danger small"
           *ngIf="form.get('poliza')?.touched && form.get('poliza')?.invalid">
        Campo requerido
      </div>
    </div>

    <!-- Fecha emisión -->
    <div class="mb-2 col-lg-4">
      <label class="form-label">Fecha Emisión</label>
      <input type="date" class="form-control form-control-sm"
             formControlName="fecha_emision">
      <div class="text-danger small"
           *ngIf="form.get('fecha_emision')?.touched && form.get('fecha_emision')?.invalid">
        Campo requerido
      </div>
    </div>

    <!-- Prima neta -->
    <div class="mb-2 col-lg-6">
      <label class="form-label">Prima Neta</label>
      <input mask="separator" thousandSeparator=","
             prefix="$ "
             type="text"
             class="form-control form-control-sm"
             formControlName="prima_neta">
      <div class="text-danger small"
           *ngIf="form.get('prima_neta')?.touched && form.get('prima_neta')?.invalid">
        Campo requerido
      </div>
    </div>

    <!-- Comisión -->
    <div class="mb-2 col-lg-6">
      <label class="form-label">Comisión APV</label>
      <input mask="separator" thousandSeparator=","
             prefix="$ "
             type="text"
             class="form-control form-control-sm bg-light"
             formControlName="comision_apv_pesos"
             readonly>
    </div>

    <!-- Observaciones -->
    <div class="mb-2 col-lg-12">
      <label class="form-label">Observaciones</label>
      <textarea class="form-control"
                rows="3"
                formControlName="observaciones"></textarea>
    </div>

  </div>
</form>
