      <div class="card shadow-sm rounded-4">
        <div class="card-body border-bottom p-3">
          <div class="d-flex align-items-center">
            <h5 class="mb-0 card-title flex-grow-1">{{ title }}</h5>
            <div *ngIf = "hasButtons" class="flex-shrink-0 d-flex gap-1">
                <button *ngIf = "showBtnNuevo" (click)="clickNuevo()" class="btn btn-sm btn-primary"> <i class="fas fa-plus"></i> Nuevo </button>
                <button *ngIf = "showBtnEditar" (click)="clickEditar()" class="btn btn-sm btn-warning"> <i class="fas fa-pen"></i>  Actualizar </button>
                <button *ngIf = "showBtnEliminar" (click)="clickEliminar()" class="btn btn-sm btn-danger"> <i class="fas fa-trash"></i>  Eliminar</button>
                <button *ngIf = "showBtnVolver" (click)="clickVolver()" class="btn btn-sm btn-dark"> <i class="fas fa-arrow-left"></i>  Volver</button>
            </div>
          </div>
        </div>
        
      </div>
