<ul class="nav nav-pills rounded-4 mb-2 border-bottom fw-semibold gap-2" role="tablist">
  <li class="nav-item">
    <button class="nav-link border shadow-sm"
            [class.active]="activeTab === 'general'"
            (click)="setTab('general')">
      <i class="fas fa-info-circle me-1"></i> Datos Generales
    </button>
  </li>
  <li class="nav-item">
    <button class="nav-link border shadow-sm"
            [class.active]="activeTab === 'recep'"
            (click)="setTab('recep')">
      <i class="fas fa-download me-1"></i> Recepciones
    </button>
  </li>
  <li class="nav-item">
    <button class="nav-link border shadow-sm"
            [class.active]="activeTab === 'entreg'"
            (click)="setTab('entreg')">
      <i class="fas fa-upload me-1"></i> Entregas
    </button>
  </li>
</ul>

<div class="tab-content mt-3">
  <div *ngIf="activeTab === 'general'">
    <div class="row">
        <div class="col-xl-6">
            <app-identification-card
            [rfcContribuyente]="data.RfcContribuyente"
            [rfcRepLegal]="data.RfcRepresentanteLegal"
            [caracter]="data.Caracter"
            [modalidadPermiso]="data.ModalidadPermiso"
            [claveInstalacion]="data.ClaveInstalacion"
            [latitud]="data.Geolocalizacion[0].GeolocalizacionLatitud"
            [longitud]="data.Geolocalizacion[0].GeolocalizacionLongitud">
            </app-identification-card>
        </div>
        <div class="col-xl-6">
            <app-infraestructura-card
            [nroTanques]="data.NumeroTanques"
            [nroDispensarios]="data.NumeroDispensarios"
            [nroPozos]="data.NumeroPozos"
            [claveProducto]="data.Producto[0].ClaveProducto"
            ></app-infraestructura-card>
        </div>
    </div>
  </div>
  <div *ngIf="activeTab === 'recep'">
    <app-tabla-movimientos
            [data]="recepciones"
            [columns]="columnasRecepcion"
            [searchFields]="['nombre','rfc','cfdi']"
            placeholder="Filtrar por proveedor o CFDI..."
    ></app-tabla-movimientos>
  </div>
  <div *ngIf="activeTab === 'entreg'">
    <app-tabla-movimientos
            [data]="entregas"
            [columns]="columnasRecepcion"
            [searchFields]="['nombre','rfc','cfdi']"
            placeholder="Filtrar por proveedor o CFDI..."
    ></app-tabla-movimientos>
  </div>
</div>

